/* ------------------- Extension Container ------------------- */

body {
  margin: 5px;
  background: var(--primary-background-color);
}

#extension-container {
  width: 275px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#extension-container>* {
  background: var(--tertiary-background-color);
  border-radius: 10px;
}



/* ------------------------- Header -------------------------- */

#extension-header {
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--tertiary-background-color);
  border-radius: 10px;
}

#title {
  color: var(--primary-text-color);
  font-family: var(--code-font-family);
  font-size: 20px;
  font-weight: 700;
}

/* Switch */

#extension-activation-switch,
#extension-activation-switch>* {
  width: 56.25px;
  height: 30px;
}

#extension-activation-switch .toggle-switch {
  border-width: 1.5px;
  border-radius: 15px;
}

#extension-activation-switch .toggle-switch-button {
  top: 3px;
  width: 21px;
  bottom: 3px;
  right: 29.25px;
  border-radius: 14.25px;
}

#extension-activation-switch .toggle-switch-text-on {
  line-height: 27px;
  font-size: 13.5px;
}

#extension-activation-switch .toggle-on .toggle-switch-button {
  top: 2.25px;
  width: 48.75px;
  bottom: 2.25px;
  right: 2.25px;
  border-radius: 17.25px;
  box-shadow: 0 0 calc(var(--extension-popup-text-glow-blur-radius) * 2.4) var(--extension-popup-switch-on-primary-shadow-color);
}

#extension-activation-switch .toggle-switch-text-off {
  right: 4.5px;
  line-height: 27px;
  font-size: 10.5px;
}

#extension-activation-switch .glow-comp {
  top: 7.5px;
  bottom: 7.5px;
  left: 7.5px;
  right: 7.5px;
  border-radius: 4.5px;
  box-shadow: 0 0 calc(var(--extension-popup-text-glow-blur-radius) * 1.8) var(--extension-popup-switch-on-secondary-shadow-color);
}



/* ------------------------ Settings ------------------------- */

#settings {
  padding: 10px;
  gap: 5px;
  display: flex;
  flex-direction: column;
}

/* Containers */

.settings-container {
  display: flex;
  gap: 5px;
}

.settings-container>* {
  flex-grow: 1;
}

.vertical-settings-container {
  flex-direction: column;
}

/* General */

.setting {
  display: flex;
  align-items: center;
  background: var(--secondary-background-color);
  padding: 0px 5px;
  border-radius: 7px;
}

.setting>* {
  color: var(--primary-text-color);
  font-family: var(--code-font-family);
  font-size: 14px;
  font-weight: 400;
}

.setting-title {
  display: flex;
}

.setting-separator {
  margin-right: 10px;
  font-weight: 100;
}

body:not(:has(#extension-activation-switch > .toggle-on)) .setting * {
  pointer-events: none;
}

/* Types */

.normal {
  height: 27px;
}

.small {
  height: 20px;
}

.auto {
  height: auto;
}

.middle {
  margin-top: auto;
  margin-bottom: auto;
}

.bottom {
  margin-top: auto;
}

/* Message */
.setting:has(.setting-message) {
  background: inherit !important;
}

.setting-message {
  font-style: italic;
  color: var(--secondary-text-color) !important;
  text-align: center;
}

/* Button */
.setting:has(.setting-button) {
  background: inherit !important;
}

.setting-button {
  color: red;
}

/* Dropdown */

.setting-dropdown {
  flex-grow: 1;
  line-height: 25px;
  appearance: none;
}

/* Switch */

.setting-switch {
  margin-left: auto;
}

.setting-switch,
.setting-switch>* {
  width: 37.5px;
  height: 20px;
}

.setting-switch .toggle-switch {
  border-width: 1px;
  border-radius: 10px;
}

.setting-switch .toggle-switch-button {
  top: 2px;
  width: 14px;
  bottom: 2px;
  right: 19.5px;
  border-radius: 9.5px;
}

.setting-switch .toggle-switch-text-on {
  line-height: 18px;
  font-size: 9px;
}

body:has(#extension-activation-switch > .toggle-on) .setting-switch .toggle-on .toggle-switch-button {
  top: 1.5px;
  width: 32.5px;
  bottom: 1.5px;
  right: 1.5px;
  border-radius: 11.5px;
  box-shadow: 0 0 calc(var(--extension-popup-text-glow-blur-radius) * 1.6) var(--extension-popup-switch-on-primary-shadow-color);
}

.setting-switch .toggle-switch-text-off {
  right: 3px;
  line-height: 18px;
  font-size: 7px;
}

.setting-switch .glow-comp {
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  border-radius: 3px;
  box-shadow: 0 0 calc(var(--extension-popup-text-glow-blur-radius) * 1.4) var(--extension-popup-switch-on-secondary-shadow-color);
}

/* Dropdown + Switch */

.dropdown.switch .setting-dropdown {
  text-align: right;
  color: var(--extension-popup-glow-color);
  padding-right: 20px;
}

/* Reset Settings Button */
#reset-settings-button {
  background-color: transparent;
  border: 2px solid var(--extension-popup-dangerous-button-background-color);
  border-radius: 7px;
  box-sizing: border-box;
  color: var(--extension-popup-dangerous-button-text-color);
  cursor: pointer;
  display: inline-block;
  font-family: var(--code-font-family);
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-width: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  height: 100%;
  will-change: transform;
}

#reset-settings-button:disabled {
  pointer-events: none;
}

#reset-settings-button:hover {
  color: #ffffff;
  background-color: var(--extension-popup-dangerous-button-background-color);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#reset-settings-button:active {
  box-shadow: none;
  transform: translateY(0);
}



/* ------------------------- Footer -------------------------- */

#footer {
  background: none;
}

/* Buttons */
#footer-buttons {
  display: flex;
  flex-grow: 1;
}

#footer-buttons * {
  flex-grow: 1;
}

.footer-button {
  height: 43px;
}

/* ------------------------ Buttons -------------------------- */

#donate-button {
  font-size: 15px;
}

#request-feature-button,
#report-bug-button {
  font-size: 14px;
  word-spacing: 100vw;
  line-height: 1.3;
}

/* Containers */

.buttons-container {
  display: flex;
  gap: 5px;
}

.vertical-buttons-container {
  flex-direction: column;
}

.horizontal-buttons-container>* {
  width: 100%;
}



/* ------------------------- Icons --------------------------- */

/* Switch */
body:not(:has(#extension-activation-switch > .toggle-on)) .setting-switch .toggle-switch-text-off,
.setting-switch[class~="not-available"] .toggle-switch-text-off {
  visibility: hidden;
}

body:not(:has(#extension-activation-switch > .toggle-on)) .setting-switch .toggle-switch-text-off::after,
.setting-switch[class~="not-available"] .toggle-switch-text-off::after {
  content: "\e900";
  font-family: 'icons' !important;
  font-size: 15px;
  padding-right: 2px;
  visibility: visible;
}

/* Dropdown */
.dropdown:not(:has(.setting-switch)),
.dropdown.switch .setting-switch {
  position: relative;
}

.dropdown:not(:has(.setting-switch))::after,
.dropdown.switch .setting-switch::before {
  content: "\e901";
  position: absolute;
  right: 0;
  font-family: 'icons' !important;
  font-size: 5px;
  padding-right: 5px;
  pointer-events: none;
}

.dropdown:not(:has(.setting-switch))::after {
  color: var(--primary-text-color);
}

.dropdown.switch .setting-switch::before {
  left: -17px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--extension-popup-glow-color);
}



/* --------------- Text Glowing and Brightness --------------- */

/* Darker */
#title,
.setting-title,
.setting-dropdown,
.dropdown:not(:has(.setting-switch))::after,
.dropdown.switch .setting-switch::before {
  filter: opacity(0.5);
}

/* Brighter */
body:has(#extension-activation-switch > .toggle-on) #title,
body:has(#extension-activation-switch > .toggle-on) .setting-dropdown:not(:has(option:only-child)):not(:has(~ .setting-switch)),
body:has(#extension-activation-switch > .toggle-on) .setting-dropdown:has(~ .setting-switch .toggle-on),
body:has(#extension-activation-switch > .toggle-on) .dropdown:not(:has(option:only-child)):not(:has(.setting-switch))::after,
body:has(#extension-activation-switch > .toggle-on) .dropdown.switch:has(.setting-switch .toggle-on) .setting-switch::before {
  filter: opacity(1);
}

/* Glow */
body:has(#extension-activation-switch > .toggle-on) #title {
  text-shadow: 0 0 var(--extension-popup-text-glow-blur-radius) var(--extension-popup-glow-color);
}

body:has(#extension-activation-switch > .toggle-on) .dropdown.switch .setting-dropdown:has(~ .setting-switch .toggle-on) {
  text-shadow: 0 0 calc(var(--extension-popup-text-glow-blur-radius) * 0.6) var(--extension-popup-glow-color);
}

/* Brighter + Glow */
body:has(#extension-activation-switch > .toggle-on) .setting-title:not(:has(+ .setting-dropdown option:only-child)):not(:has(~ .setting-switch)),
body:has(#extension-activation-switch > .toggle-on) .setting-title:has(~ .setting-switch .toggle-on) {
  text-shadow: 0 0 calc(var(--extension-popup-text-glow-blur-radius) * 0.6) var(--extension-popup-glow-color);
  filter: opacity(1);
}



/* ------------------------ Utilities ------------------------ */

/* Dropdown */

select {
  background: none;
  border: none;
  cursor: pointer;
}

select:focus {
  outline: none;
}

/* Switch */

.toggle-switch {
  position: absolute;
  border: 0px solid var(--extension-popup-switch-off-color);
  box-sizing: border-box;
  user-select: none;
}

body:has(#extension-activation-switch > .toggle-on) .toggle-switch.toggle-on {
  border-color: var(--extension-popup-switch-on-border-color);
}

.toggle-switch-button {
  position: absolute;
  background-color: var(--extension-popup-switch-off-color);
  cursor: pointer;
}

body:has(#extension-activation-switch > .toggle-on) .toggle-on .toggle-switch-button {
  background-color: var(--extension-popup-switch-on-primary-background-color);
}

.toggle-switch-text-on {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-family: 'QuJicksand', sans-serif;
  font-weight: 800;
  cursor: pointer;
  color: rgba(0, 0, 0, 0);
}

body:has(#extension-activation-switch > .toggle-on) .toggle-on .toggle-switch-text-on {
  color: var(--extension-popup-switch-on-text-color);
}

.toggle-switch-text-off {
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 800;
  cursor: pointer;
  padding-right: 1px;
  color: var(--extension-popup-switch-off-color);
}

body:has(#extension-activation-switch > .toggle-on) .toggle-on .toggle-switch-text-off {
  color: rgba(0, 0, 0, 0);
}

.glow-comp {
  position: absolute;
  opacity: 0;
  background-color: var(--extension-popup-switch-on-secondary-background-color);
}

body:has(#extension-activation-switch > .toggle-on) .toggle-on .glow-comp {
  opacity: 1;
}

/* Buttons */

button {
  appearance: none;
  font-family: var(--code-font-family);
  font-weight: 700;
  user-select: none;
}

/* Normal */
.normal-button {
  color: var(--primary-text-color);
  background: var(--secondary-background-color);
  border-width: 2px 1px;
  border-style: solid;
  border-color: var(--extension-popup-glow-color);
  border-radius: 10px;
  text-shadow: 0 0 calc(var(--extension-popup-text-glow-blur-radius) * 0.6) var(--extension-popup-glow-color);
  box-shadow:
    inset 1px 0 calc(var(--extension-popup-text-glow-blur-radius) * 0.8) var(--extension-popup-glow-color),
    inset -1px 0 calc(var(--extension-popup-text-glow-blur-radius) * 0.8) var(--extension-popup-glow-color);
}

/* Emphasized */
.emphasized-button {
  background: linear-gradient(120deg,
      #ff0000,
      #ff9a00,
      #d0de21,
      #4fdc4a,
      #3fdad8,
      #2fc9e2,
      #1c7fee,
      #5f15f2,
      #ba0cf8,
      #fb07d9,
      #ff0000,
      #ff9a00,
      #d0de21,
      #4fdc4a,
      #3fdad8,
      #2fc9e2,
      #1c7fee,
      #5f15f2,
      #ba0cf8,
      #fb07d9,
      #ff0000,
      #ff9a00,
      #d0de21,
      #4fdc4a,
      #3fdad8,
      #2fc9e2,
      #1c7fee,
      #5f15f2,
      #ba0cf8,
      #fb07d9,
      #ff0000,
      #ff9a00,
      #d0de21,
      #4fdc4a,
      #3fdad8,
      #2fc9e2,
      #1c7fee,
      #5f15f2,
      #ba0cf8,
      #fb07d9,
      #ff0000);
  border-radius: 10px;
  box-sizing: border-box;
  border: none;
  color: var(--primary-text-color);
  padding: 2px;
  position: relative;
  text-decoration: none;
  background-size: 600% 600%;
  animation: gradient 100s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.emphasized-button span {
  align-items: center;
  background: var(--secondary-background-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.emphasized-button:hover span {
  background: transparent;
}
