:root {
  /* --- Colors --- */

  /* Text */
  --editor-footer-text-color: var(--line-number-color) !important;

  /* Backgrounds */
  --editor-header-border-color: var(--editor-header-background-color) !important;
  --editor-footer-background-color: var(--primary-background-color) !important;
  --editor-code-line-numbers-background-color: var(--primary-background-color) !important;
  --editor-code-line-numbers-border-color: var(--primary-background-color) !important;
  --editor-console-toggle-background-color: var(--tertiary-background-color) !important;

  /* Buttons */
  --save-arguments-button-text-color: var(--primary-text-color) !important;
  --save-arguments-normal-button-background-color: var(--secondary-background-color) !important;

  /* Buttons */
  --close-button-text-color: var(--general-button-text-color) !important;
  --close-normal-button-background-color: var(--general-normal-button-background-color) !important;
  --close-normal-button-border-color: var(--general-normal-button-border-color) !important;
  --close-normal-button-shadow-color: var(--general-normal-button-shadow-color) !important;
  --close-hover-button-background-color: var(--general-hover-button-background-color) !important;
  --close-press-button-background-color: var(--general-press-button-background-color) !important;
  --close-press-button-border-color: var(--general-press-button-border-color) !important;

  --save-arguments-button-text-color: var(--primary-text-color) !important;
  --save-arguments-normal-button-background-color: var(--secondary-background-color) !important;
  --save-arguments-normal-button-border-color: var(--editor-footer-border-color) !important;
  --save-arguments-normal-button-shadow-color: var(--line-number-color) !important;
  --save-arguments-hover-button-background-color: var(--editor-footer-border-color) !important;
  --save-arguments-press-button-background-color: var(--line-number-color) !important;
  --save-arguments-press-button-border-color: var(--line-number-color) !important;

  /* --- Other --- */

  /* Fonts */
  --editor-header-font-family: var(--editor-font-family) !important;
  --editor-footer-font-family: var(--code-font-family) !important;
  --editor-buttons-font-family: var(--editor-font-family) !important;
}
