/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: >0.3%,last 4 version,not dead,Firefox ESR
*/

:root {
  --code-font-family: var(--code-font-family-ligatures) !important;
  --editor-font-family: var(--editor-font-family-ligatures) !important;
}

#templateSubject::-webkit-input-placeholder, .dIB.w100p.mB20.wfDelugeArgumentInput.horizontal.lyteInputBox input::-webkit-input-placeholder, .lyteSearchInput.lyteInput.vertical input::-webkit-input-placeholder, #findBtn::-webkit-input-placeholder, #replacementText::-webkit-input-placeholder, #customDelugeGoTo::-webkit-input-placeholder {
  -webkit-font-feature-settings: var(--font-feature-settings) !important;
          font-feature-settings: var(--font-feature-settings) !important;
}

#templateSubject::-moz-placeholder, .dIB.w100p.mB20.wfDelugeArgumentInput.horizontal.lyteInputBox input::-moz-placeholder, .lyteSearchInput.lyteInput.vertical input::-moz-placeholder, #findBtn::-moz-placeholder, #replacementText::-moz-placeholder, #customDelugeGoTo::-moz-placeholder {
  font-feature-settings: var(--font-feature-settings) !important;
}

#templateName,
.w100p.untitledRepTextPar.aIC.dF.spaceBetween.h70 .lyte-button *,
#functionCancelLeft button,
#templateSubject,
#templateSubject::placeholder,
#dreEditParamFunctionName,
.dre-ep-param-name>input,
.dre-ep-param-data-type,
.dre-ep-param-row,
.dre-ep-param-input,
#IMPORTNOTIFICATIONPOP1 .migCardTitle,
.crm-font-regular.fontSmooth.content.migCardMsg.succesImportSchedularIco,
#customParamFunctionName input,
#inputId,
.dIB.w100p.mB20.wfDelugeArgumentInput.horizontal.lyteInputBox input,
.dIB.w100p.mB20.wfDelugeArgumentInput.horizontal.lyteInputBox input::placeholder,
.customFunDataValueField.customFunMergeField.mR20.mB20.pR.crm-font-regular,
.maxW200.mergefieldDropdownEle lyte-drop-button,
.multilevelmergefieldDropdown.crmBoxDropbox.lyteDropdownCurve.lyteDropdownDown,
.lyteSearchInput.lyteInput.vertical input,
.lyteSearchInput.lyteInput.vertical input::placeholder,
.CodeMirror-linenumber.CodeMirror-gutter-elt,
.CodeMirror-line span,
.CodeMirror-hint,
.CodeMirror-Tern-tooltip,
.CodeMirror-Tern-tooltip *,
.argTooltip.deluge-cm-script.argTooltip-anim,
#outputToggleHook .dIB.mT5.vam,
.pLR10.mB10.pR,
#findBtn,
#findBtn::placeholder,
#replacementText,
#replacementText::placeholder,
#customDelugeGoTo,
#customDelugeGoTo::placeholder,
#functionFooter {
  -webkit-font-feature-settings: var(--font-feature-settings) !important;
          font-feature-settings: var(--font-feature-settings) !important;
}
