/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: >0.3%,last 4 version,not dead,Firefox ESR
*/

:root {
  --italics: italic;
}

.cm-comment {
  font-style: var(--italics) !important;
}

.cm-variable+.cm-syntax,
.cm-variable+.cm-syntax+.cm-syntax {
  font-style: var(--italics) !important;
}
