.cm-variable:has(+ .cm-syntax) {
  color: var(--affected-variable-color) !important;
  font-style: var(--italics) !important;
}

.cm-variable:first-child:has(+ .cm-operator),
.cm-tab:first-child + .cm-variable:has(+ .cm-operator),
.cm-tab:first-child + [class^="cm-tab"] + .cm-variable:has(+ .cm-operator) {
  color: var(--declared-variable-color) !important;
}
