/* ----------------------- Properties ------------------------ */

:root {
  /* --- Colors --- */

  /* Text */
  --primary-text-color: #E5E2DC;
  --secondary-text-color: #C5C2BC;
  --tertiary-text-color: #93918C;
  --placeholder-color: #8E9AB6;
  --error-text-color: #F22C3E;

  --editor-header-text-color: #E5E2DC;
  --editor-footer-text-color: #506377;

  /* Backgrounds */
  --primary-background-color: #061626;
  --secondary-background-color: #05131F;
  --tertiary-background-color: #122438;
  --quaternary-background-color: #475C70;

  --editor-header-background-color: #061626;
  --editor-header-border-color: #05131F;
  --editor-header-shadow-color: #05131F;
  --editor-footer-background-color: #061626;
  --editor-footer-border-color: #192C40;
  --editor-code-line-numbers-background-color: #061626;
  --editor-code-line-numbers-border-color: #061626;

  /* Editor */
  --cursor-color: #8AA6C3;
  --line-number-color: #506377;
  --active-line-number-color: #CBE3FA;
  --active-line-background-color: #05121E;
  --selected-text-background-color: #1D3B53;
  --selected-searching-text-background-color: #555B8C;
  --searching-text-background-color: #008CFF4D;
  --indent-guides-color: #283B5F;
  --hint-matching-symbols-color: #CBE386;
  --tooltip-border-color: #657D95;

  /* Syntax */
  --comments-color: #677677;
  --system-functions-color: #8AA9F9;
  --variable-color: #D8DBDF;
  --affected-variable-color: #95D8C9;
  --strings-color: #E6C594;
  --constants-color: #EC6477;
  --math-operators-color: #BF94E4;
  --logical-operators-color: #BF94E4;
  --separators-color: #D7DEEA;
  --semicolons-color: #D7DEEA;
  --brackets-color: #F9D849;
  --matching-brackets-background-color: #223342;
  --matching-brackets-border-color: #888888;
  --nonmatching-brackets-text-color: #fb001b;

  /* Buttons */
  --general-button-text-color: #ffffff;
  --general-normal-button-background-color: #122438;
  --general-normal-button-border-color: #314458;
  --general-normal-button-shadow-color: #506377;
  --general-hover-button-background-color: #314458;
  --general-press-button-background-color: #506377;
  --general-press-button-border-color: #506377;

  --close-button-text-color: #ffffff;
  --close-normal-button-background-color: #122438;
  --close-normal-button-border-color: #314458;
  --close-normal-button-shadow-color: #506377;
  --close-hover-button-background-color: #314458;
  --close-press-button-background-color: #506377;
  --close-press-button-border-color: #506377;

  --save-arguments-button-text-color: #ffffff;
  --save-arguments-normal-button-background-color: #05131F;
  --save-arguments-normal-button-border-color: #314458;
  --save-arguments-normal-button-shadow-color: #506377;
  --save-arguments-hover-button-background-color: #314458;
  --save-arguments-press-button-background-color: #506377;
  --save-arguments-press-button-border-color: #506377;

  --safe-button-text-color: #ffffff;
  --safe-normal-button-background-color: #00B200;
  --safe-normal-button-border-color: #019101;
  --safe-normal-button-shadow-color: #006E00;
  --safe-hover-button-background-color: #019101;
  --safe-press-button-background-color: #006E00;
  --safe-press-button-border-color: #006E00;

  --dangerous-button-text-color: #ffffff;
  --dangerous-normal-button-background-color: #E53343;
  --dangerous-normal-button-border-color: #CD1222;
  --dangerous-normal-button-shadow-color: #9E0E1A;
  --dangerous-hover-button-background-color: #CD1222;
  --dangerous-press-button-background-color: #9E0E1A;
  --dangerous-press-button-border-color: #9E0E1A;

  /* Extension Pupup */
  --extension-popup-glow-color: #89C2DA;

  --extension-popup-switch-off-color: #5e6368;
  --extension-popup-switch-on-primary-background-color: #89C2DA;
  --extension-popup-switch-on-secondary-background-color: #4B7A8D1A;
  --extension-popup-switch-on-primary-shadow-color: #4B7A8D;
  --extension-popup-switch-on-secondary-shadow-color: #4D7A8D33;
  --extension-popup-switch-on-text-color: #3B6A7D;

  --extension-popup-dangerous-button-text-color: #ff2335;
  --extension-popup-dangerous-button-background-color: #ff2335;

  /* --- Other --- */

  /* Fonts */
  --editor-font-family: 'Raleway';
  --editor-font-family-ligatures: 'Raleway';
  --code-font-family: 'JetBrains Mono NL';
  --code-font-family-ligatures: 'JetBrains Mono';
  --system-font-family: 'Monaco';

  --code-font-size: 14px;
  --code-font-weight: 400;
  --code-font-line-height: 1.5;
  --font-feature-settings: 'calt', 'zero';

  --primary-system-font-size: 14px;
  --secondary-system-font-size: 13px;
  --tertiary-system-font-size: 12px;

  --editor-header-font-family: var(--code-font-family);
  --editor-footer-font-family: var(--code-font-family);
  --editor-buttons-font-family: var(--code-font-family);

  /* Syntax Highlighting */
  --comments-font-style: italic;
  --system-functions-font-style: italic;
  --affected-variable-font-style: italic;
  --indent-guides-width: 1px;

  /* Buttons */
  --button-border-style: none;
  --button-border-width: 1px;
  --buttom-shadow-offset: -2px;

  /* Popups */
  --border-radius: 10px;

  /* Theme */
  --is-dark-theme: 1;
}



/* -------------------------- Fonts -------------------------- */

/* --- Icons --- */

@font-face {
  font-family: 'icons';
  font-style: normal;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/icons.woff2') format('woff2');
}

/* --- JetBrains Mono --- */

/* Normal */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 100;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMono-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 200;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMono-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 300;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMono-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMono-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMono-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMono-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 800;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMono-ExtraBold.woff2') format('woff2');
}

/* Italic */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 100;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMono-ThinItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 200;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMono-ExtraLightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 300;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMono-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMono-RegularItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 500;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMono-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 600;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMono-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 700;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMono-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 800;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMono-ExtraBoldItalic.woff2') format('woff2');
}

/* --- JetBrains Mono NL --- */

/* Normal */
@font-face {
  font-family: 'JetBrains Mono NL';
  font-style: normal;
  font-weight: 100;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMonoNL-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono NL';
  font-style: normal;
  font-weight: 200;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMonoNL-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono NL';
  font-style: normal;
  font-weight: 300;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMonoNL-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono NL';
  font-style: normal;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMonoNL-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono NL';
  font-style: normal;
  font-weight: 500;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMonoNL-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono NL';
  font-style: normal;
  font-weight: 600;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMonoNL-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono NL';
  font-style: normal;
  font-weight: 700;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMonoNL-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono NL';
  font-style: normal;
  font-weight: 800;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMonoNL-ExtraBold.woff2') format('woff2');
}

/* Italic */
@font-face {
  font-family: 'JetBrains Mono NL';
  font-style: italic;
  font-weight: 100;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMonoNL-ThinItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono NL';
  font-style: italic;
  font-weight: 200;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMonoNL-ExtraLightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono NL';
  font-style: italic;
  font-weight: 300;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMonoNL-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono NL';
  font-style: italic;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMonoNL-RegularItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono NL';
  font-style: italic;
  font-weight: 500;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMonoNL-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono NL';
  font-style: italic;
  font-weight: 600;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMonoNL-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono NL';
  font-style: italic;
  font-weight: 700;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMonoNL-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono NL';
  font-style: italic;
  font-weight: 800;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/JetBrainsMono/JetBrainsMonoNL-ExtraBoldItalic.woff2') format('woff2');
}

/* --- Source Code Pro --- */

/* Normal */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 200;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/SourceCodePro/SourceCodePro-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/SourceCodePro/SourceCodePro-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/SourceCodePro/SourceCodePro-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 500;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/SourceCodePro/SourceCodePro-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 600;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/SourceCodePro/SourceCodePro-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 700;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/SourceCodePro/SourceCodePro-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 800;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/SourceCodePro/SourceCodePro-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 900;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/SourceCodePro/SourceCodePro-Black.woff2') format('woff2');
}

/* Italic */
@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 200;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/SourceCodePro/SourceCodePro-ExtraLightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 300;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/SourceCodePro/SourceCodePro-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/SourceCodePro/SourceCodePro-RegularItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 500;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/SourceCodePro/SourceCodePro-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 600;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/SourceCodePro/SourceCodePro-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 700;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/SourceCodePro/SourceCodePro-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 800;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/SourceCodePro/SourceCodePro-ExtraBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 900;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/SourceCodePro/SourceCodePro-BlackItalic.woff2') format('woff2');
}

/* --- Menlo --- */

/* Normal */
@font-face {
  font-family: 'Menlo';
  font-style: normal;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Menlo/Menlo-Regular.woff2') format('woff2');
}

/* --- Anonymous Pro --- */

/* Normal */
@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/AnonymousPro/AnonymousPro-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 700;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/AnonymousPro/AnonymousPro-Bold.woff2') format('woff2');
}

/* Italic */
@font-face {
  font-family: 'Anonymous Pro';
  font-style: italic;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/AnonymousPro/AnonymousPro-RegularItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Anonymous Pro';
  font-style: italic;
  font-weight: 700;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/AnonymousPro/AnonymousPro-BoldItalic.woff2') format('woff2');
}

/* --- DejaVu Sans Mono --- */

/* Normal */
@font-face {
  font-family: 'DejaVu Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/DejaVuSansMono/DejaVuSansMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  font-style: normal;
  font-weight: 700;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/DejaVuSansMono/DejaVuSansMono-Bold.woff2') format('woff2');
}

/* Oblique */
@font-face {
  font-family: 'DejaVu Sans Mono';
  font-style: oblique;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/DejaVuSansMono/DejaVuSansMono-RegularOblique.woff2') format('woff2');
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  font-style: oblique;
  font-weight: 700;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/DejaVuSansMono/DejaVuSansMono-BoldOblique.woff2') format('woff2');
}

/* --- Vera Sans Mono --- */

/* Normal */
@font-face {
  font-family: 'Vera Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/VeraSansMono/VeraSansMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Vera Sans Mono';
  font-style: normal;
  font-weight: 700;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/VeraSansMono/VeraSansMono-Bold.woff2') format('woff2');
}

/* Italic */
@font-face {
  font-family: 'Vera Sans Mono';
  font-style: italic;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/VeraSansMono/VeraSansMono-RegularItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Vera Sans Mono';
  font-style: italic;
  font-weight: 700;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/VeraSansMono/VeraSansMono-BoldItalic.woff2') format('woff2');
}

/* --- Ubuntu Mono --- */

/* Normal */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/UbuntuMono/UbuntuMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/UbuntuMono/UbuntuMono-Bold.woff2') format('woff2');
}

/* Italic */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/UbuntuMono/UbuntuMono-RegularItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 700;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/UbuntuMono/UbuntuMono-BoldItalic.woff2') format('woff2');
}

/* --- Consolas --- */

/* Normal */
@font-face {
  font-family: 'Consolas';
  font-style: normal;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Consolas/Consolas-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Consolas';
  font-style: normal;
  font-weight: 700;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Consolas/Consolas-Bold.woff2') format('woff2');
}

/* Italic */
@font-face {
  font-family: 'Consolas';
  font-style: italic;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Consolas/Consolas-RegularItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Consolas';
  font-style: italic;
  font-weight: 700;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Consolas/Consolas-BoldItalic.woff2') format('woff2');
}

/* --- Monaco --- */

/* Normal */
@font-face {
  font-family: 'Monaco';
  font-style: normal;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Monaco/Monaco-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Monaco';
  font-style: normal;
  font-weight: 500;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Monaco/Monaco-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Monaco';
  font-style: normal;
  font-weight: 600;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Monaco/Monaco-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Monaco';
  font-style: normal;
  font-weight: 700;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Monaco/Monaco-Bold.woff2') format('woff2');
}

/* Italic */
@font-face {
  font-family: 'Monaco';
  font-style: italic;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Monaco/Monaco-RegularItalic.woff2') format('woff2');
}

/* --- Courier New --- */

/* Normal */
@font-face {
  font-family: 'Courier New';
  font-style: normal;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/CourierNew/CourierNew-Regular.woff2') format('woff2');
}

/* --- Terminus --- */

/* Normal */
@font-face {
  font-family: 'Terminus';
  font-style: normal;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Terminus/Terminus-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Terminus';
  font-style: normal;
  font-weight: 700;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Terminus/Terminus-Bold.woff2') format('woff2');
}

/* Italic */
@font-face {
  font-family: 'Terminus';
  font-style: italic;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Terminus/Terminus-RegularItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Terminus';
  font-style: italic;
  font-weight: 700;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Terminus/Terminus-BoldItalic.woff2') format('woff2');
}

/* --- Roboto Mono --- */

/* Normal */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 100;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/RobotoMono/RobotoMono-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 200;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/RobotoMono/RobotoMono-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/RobotoMono/RobotoMono-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/RobotoMono/RobotoMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/RobotoMono/RobotoMono-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 600;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/RobotoMono/RobotoMono-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/RobotoMono/RobotoMono-Bold.woff2') format('woff2');
}

/* Italic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 100;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/RobotoMono/RobotoMono-ThinItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 200;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/RobotoMono/RobotoMono-ExtraLightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 300;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/RobotoMono/RobotoMono-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/RobotoMono/RobotoMono-RegularItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 500;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/RobotoMono/RobotoMono-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 600;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/RobotoMono/RobotoMono-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 700;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/RobotoMono/RobotoMono-BoldItalic.woff2') format('woff2');
}

/* --- Droid Sans Mono --- */

/* Normal */
@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/DroidSansMono/DroidSansMono-Regular.woff2') format('woff2');
}

/* --- Andale Mono --- */

/* Normal */
@font-face {
  font-family: 'Andale Mono';
  font-style: normal;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/AndaleMono/AndaleMono-Regular.woff2') format('woff2');
}

/* --- Lucida Console --- */

/* Normal */
@font-face {
  font-family: 'Lucida Console';
  font-style: normal;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/LucidaConsole/LucidaConsole-Regular.woff2') format('woff2');
}

/* --- Fixedsys --- */

/* Normal */
@font-face {
  font-family: 'Fixedsys';
  font-style: normal;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Fixedsys/Fixedsys-Regular.woff2') format('woff2');
}

/* --- Raleway --- */

/* Normal */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Raleway/Raleway-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Raleway/Raleway-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Raleway/Raleway-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Raleway/Raleway-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Raleway/Raleway-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Raleway/Raleway-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Raleway/Raleway-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Raleway/Raleway-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Raleway/Raleway-Black.woff2') format('woff2');
}

/* Italic */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 100;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Raleway/Raleway-ThinItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 200;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Raleway/Raleway-ExtraLightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 300;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Raleway/Raleway-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Raleway/Raleway-RegularItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 500;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Raleway/Raleway-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 600;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Raleway/Raleway-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 700;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Raleway/Raleway-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 800;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Raleway/Raleway-ExtraBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 900;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Raleway/Raleway-BlackItalic.woff2') format('woff2');
}
