:root {
  /* --- Colors --- */

  /* Text */
  --primary-text-color: #626262;
  --secondary-text-color: #707070;
  --tertiary-text-color: #7f7f7f;
  --placeholder-color: #B1B1B1;
  --error-text-color: #ff3e4e;

  --editor-header-text-color: #535353;
  --editor-footer-text-color: #676767;

  /* Backgrounds */
  --primary-background-color: #FAFAFA;
  --secondary-background-color: #d6d6d6;
  --tertiary-background-color: #e7e7e7;
  --quaternary-background-color: #e2e2e2;

  --editor-header-background-color: #dddddd;
  --editor-header-border-color: #d2d2d2;
  --editor-header-shadow-color: #c8c8c8bf;
  --editor-footer-background-color: #eaeaea;
  --editor-footer-border-color: #d7d7d7;
  --editor-code-line-numbers-background-color: #eaeaea;
  --editor-code-line-numbers-border-color: #d7d7d7;
  --editor-console-toggle-background-color: #e2e2e2;

  /* Editor */
  --cursor-color: #586EF6;
  --line-number-color: #9D9D9F;
  --active-line-number-color: #383A41;
  --active-line-background-color: #F0F0F0;
  --selected-text-background-color: #E5E5E6;
  --selected-searching-text-background-color: #A9AC96;
  --searching-text-background-color: #acb5f54d;
  --indent-guides-color: #d3d4d5;
  --hint-matching-symbols-color: #121417;
  --tooltip-border-color: #DBDBDC;

  /* Syntax */
  --comments-color: #A3A4A9;
  --system-functions-color: #4E77EA;
  --system-flow-control-color: #99329F;
  --variable-color: #3D3F45;
  --declared-variable-color: #3D3F45;
  --affected-variable-color: #313d67;
  --strings-color: #70A664;
  --constants-color: #916A22;
  --math-operators-color: #5D99C3;
  --logical-operators-color: #5D99C3;
  --separators-color: #383A41;
  --semicolons-color: #383A41;
  --brackets-color: #1330F0;
  --matching-brackets-background-color: #DCE2DA;
  --matching-brackets-border-color: #B9B9B9;
  --nonmatching-brackets-text-color: #EB5D53;

  /* Buttons */
  --general-button-text-color: #000000;
  --general-normal-button-background-color: linear-gradient(0deg, #afafaf, #939393);
  --general-normal-button-border-color: #959595;
  --general-normal-button-shadow-color: #868686;
  --general-hover-button-background-color: linear-gradient(0deg, #959595, #828282);
  --general-press-button-background-color: linear-gradient(0deg, #868686, #757575);
  --general-press-button-border-color: #868686;

  --close-button-text-color: #000000;
  --close-normal-button-background-color: linear-gradient(0deg, #b08f8f, #a38d8d);
  --close-normal-button-border-color: #a98989;
  --close-normal-button-shadow-color: #9f8282;
  --close-hover-button-background-color: linear-gradient(0deg, #a98989, #9a8282);
  --close-press-button-background-color: linear-gradient(0deg, #9f8282, #908282);
  --close-press-button-border-color: #9f8282;

  --save-arguments-button-text-color: #000000;
  --save-arguments-normal-button-background-color: linear-gradient(0deg, #afafaf, #939393);
  --save-arguments-normal-button-border-color: #959595;
  --save-arguments-normal-button-shadow-color: #868686;
  --save-arguments-hover-button-background-color: linear-gradient(0deg, #959595, #828282);
  --save-arguments-press-button-background-color: linear-gradient(0deg, #868686, #757575);
  --save-arguments-press-button-border-color: #868686;

  --safe-button-text-color: #efefef;
  --safe-normal-button-background-color: linear-gradient(0deg, #009e00, #00b400);
  --safe-normal-button-border-color: #018e01;
  --safe-normal-button-shadow-color: #008200;
  --safe-hover-button-background-color: linear-gradient(0deg, #018e01, #00b700);
  --safe-press-button-background-color: linear-gradient(0deg, #008200, #009a00);
  --safe-press-button-border-color: #008200;

  --dangerous-button-text-color: #efefef;
  --dangerous-normal-button-background-color: linear-gradient(0deg, #c92d3a, #e93745);
  --dangerous-normal-button-border-color: #b62935;
  --dangerous-normal-button-shadow-color: #ac2732;
  --dangerous-hover-button-background-color: linear-gradient(0deg, #b62935, #f13645);
  --dangerous-press-button-background-color: linear-gradient(0deg, #ac2732, #d92d3b);
  --dangerous-press-button-border-color: #ac2732;

  /* Extension Pupup */
  --extension-popup-glow-color: #bfbfbf;
  --extension-popup-text-glow-blur-radius: 0px;

  --extension-popup-switch-off-color: #a1a1a1;
  --extension-popup-switch-on-primary-background-color: #989898;
  --extension-popup-switch-on-secondary-background-color: #7a7a7a1a;
  --extension-popup-switch-on-primary-shadow-color: #6e6e6e;
  --extension-popup-switch-on-secondary-shadow-color: #51515133;
  --extension-popup-switch-on-text-color: #2f2f2f;
  --extension-popup-switch-on-border-color: #7d7d7d66;

  --extension-popup-dangerous-button-text-color: #ff2335;
  --extension-popup-dangerous-button-background-color: #ff2335;

  /* --- Other --- */

  /* Theme */
  --is-dark-theme: 0.5;
}
