:root {
  /* --- Colors --- */

  /* Text */
  --primary-text-color: #c5c5c5;
  --secondary-text-color: #afafaf;
  --tertiary-text-color: #949494;
  --placeholder-color: #737476;
  --error-text-color: #ff3e4e;

  --editor-header-text-color: #c5c5c5;
  --editor-footer-text-color: #8b8b8b;

  /* Backgrounds */
  --primary-background-color: #292c33;
  --secondary-background-color: #22252a;
  --tertiary-background-color: #31343c;
  --quaternary-background-color: #565a65;

  --editor-header-background-color: #22252b;
  --editor-header-border-color: #1b1e23;
  --editor-header-shadow-color: #191c21bf;
  --editor-footer-background-color: #26292f;
  --editor-footer-border-color: #202328;
  --editor-code-line-numbers-background-color: #26292f;
  --editor-code-line-numbers-border-color: #202328;
  --editor-console-toggle-background-color: #21252b;

  /* Editor */
  --cursor-color: #5f8af7;
  --line-number-color: #4b5161;
  --active-line-number-color: #acb2be;
  --active-line-background-color: #2d313b;
  --selected-text-background-color: #414858;
  --selected-searching-text-background-color: #677588;
  --searching-text-background-color: #5a7ad14d;
  --indent-guides-color: #3c4047;
  --hint-matching-symbols-color: #ecebeb;
  --tooltip-border-color: #181a1f;

  /* Syntax */
  --comments-color: #7f838c;
  --system-functions-color: #74ade9;
  --system-flow-control-color: #bb7cd7;
  --variable-color: #d17277;
  --declared-variable-color: #d17277;
  --affected-variable-color: #d18f72;
  --strings-color: #a1c281;
  --constants-color: #c99c6e;
  --math-operators-color: #6fb4c0;
  --logical-operators-color: #6fb4c0;
  --separators-color: #acb2be;
  --semicolons-color: #acb2be;
  --brackets-color: #c99c6e;
  --matching-brackets-background-color: #535a69;
  --matching-brackets-border-color: #393f4d;
  --non-matching-brackets-text-color: #c4372e;

  /* Buttons */
  --general-button-text-color: #000000;
  --general-normal-button-background-color: linear-gradient(0deg, #a4a4a4, #858585);
  --general-normal-button-border-color: #8a8a8a;
  --general-normal-button-shadow-color: #797979;
  --general-hover-button-background-color: linear-gradient(0deg, #8a8a8a, #777777);
  --general-press-button-background-color: linear-gradient(0deg, #797979, #6a6a6a);
  --general-press-button-border-color: #797979;

  --close-button-text-color: #000000;
  --close-normal-button-background-color: linear-gradient(0deg, #a48d8d, #948181);
  --close-normal-button-border-color: #9a8383;
  --close-normal-button-shadow-color: #8f7a7a;
  --close-hover-button-background-color: linear-gradient(0deg, #9a8383, #8c7474);
  --close-press-button-background-color: linear-gradient(0deg, #8f7a7a, #807070);
  --close-press-button-border-color: #8f7a7a;

  --save-arguments-button-text-color: #000000;
  --save-arguments-normal-button-background-color: linear-gradient(0deg, #a4a4a4, #858585);
  --save-arguments-normal-button-border-color: #8a8a8a;
  --save-arguments-normal-button-shadow-color: #797979;
  --save-arguments-hover-button-background-color: linear-gradient(0deg, #8a8a8a, #777777);
  --save-arguments-press-button-background-color: linear-gradient(0deg, #797979, #6a6a6a);
  --save-arguments-press-button-border-color: #797979;

  --safe-button-text-color: #d4d4d4;
  --safe-normal-button-background-color: linear-gradient(0deg, #007c00, #008f00);
  --safe-normal-button-border-color: #006c00;
  --safe-normal-button-shadow-color: #006200;
  --safe-hover-button-background-color: linear-gradient(0deg, #006c00, #008c00);
  --safe-press-button-background-color: linear-gradient(0deg, #006200, #007600);
  --safe-press-button-border-color: #006200;

  --dangerous-button-text-color: #d4d4d4;
  --dangerous-normal-button-background-color: linear-gradient(0deg, #a52031, #c12c38);
  --dangerous-normal-button-border-color: #91202b;
  --dangerous-normal-button-shadow-color: #881e29;
  --dangerous-hover-button-background-color: linear-gradient(0deg, #91202b, #c52b38);
  --dangerous-press-button-background-color: linear-gradient(0deg, #881e29, #b12431);
  --dangerous-press-button-border-color: #881e29;

  /* Extension Popup */
  --extension-popup-glow-color: #777777;
  --extension-popup-text-glow-blur-radius: 0px;

  --extension-popup-switch-off-color: #646464;
  --extension-popup-switch-on-primary-background-color: #a2a2a2;
  --extension-popup-switch-on-secondary-background-color: #7b7b7b1a;
  --extension-popup-switch-on-primary-shadow-color: #808080;
  --extension-popup-switch-on-secondary-shadow-color: #80808033;
  --extension-popup-switch-on-text-color: #292c33;
  --extension-popup-switch-on-border-color: #81818166;

  --extension-popup-dangerous-button-text-color: #ff2335;
  --extension-popup-dangerous-button-background-color: #ff2335;

  /* --- Other --- */

  /* Theme */
  --is-dark-theme: 1;
}
