:root {
  /* --- Colors --- */

  /* Text */
  --primary-text-color: #181818;
  --secondary-text-color: #444444;
  --tertiary-text-color: #5c5c5c;
  --placeholder-color: #767676;
  --error-text-color: #f22c3e;

  --editor-header-text-color: #444444;
  --editor-footer-text-color: #777c83;

  /* Backgrounds */
  --primary-background-color: #ffffff;
  --secondary-background-color: #efefef;
  --tertiary-background-color: #fafafa;
  --quaternary-background-color: #cccccc;

  --editor-header-background-color: #e7e7e7;
  --editor-header-border-color: #e1e1e1;
  --editor-header-shadow-color: #b8b8b8bf;
  --editor-footer-background-color: #f0f0f0;
  --editor-footer-border-color: #e3e3e3;
  --editor-code-line-numbers-background-color: #f0f0f0;
  --editor-code-line-numbers-border-color: #e3e3e3;
  --editor-console-toggle-background-color: #ececec;

  /* Editor */
  --cursor-color: #1b4184;
  --line-number-color: #babbbc;
  --active-line-number-color: #25292e;
  --active-line-background-color: #f6f8fa;
  --selected-text-background-color: #e1e9f8;
  --selected-searching-text-background-color: #fae073;
  --searching-text-background-color: #fef9574d;
  --indent-guides-color: #f0f2f6;
  --hint-matching-symbols-color: #2a64b9;
  --tooltip-border-color: #c8c8c8;

  /* Syntax */
  --comments-color: #6d747d;
  --system-functions-color: #6944ba;
  --system-flow-control-color: #c6474e;
  --variable-color: #41454a;
  --declared-variable-color: #41454a;
  --affected-variable-color: #254c94;
  --strings-color: #112e5f;
  --constants-color: #265bbe;
  --math-operators-color: #c6474e;
  --logical-operators-color: #c6474e;
  --separators-color: #25292e;
  --semicolons-color: #25292e;
  --brackets-color: #265bbe;
  --matching-brackets-background-color: #dff5c5;
  --matching-brackets-border-color: unset;
  --nonmatching-brackets-text-color: #050404;

  /* Buttons */
  --general-button-text-color: #0e1116;
  --general-normal-button-background-color: linear-gradient(0deg, #8cb2c7, #83abc2);
  --general-normal-button-border-color: #7aa4bd;
  --general-normal-button-shadow-color: #709db8;
  --general-hover-button-background-color: linear-gradient(0deg, #7aa4bd, #709db8);
  --general-press-button-background-color: linear-gradient(0deg, #709db8, #6796b3);
  --general-press-button-border-color: #709db8;

  --close-button-text-color: #0e1116;
  --close-normal-button-background-color: linear-gradient(0deg, #e6928c, #da857e);
  --close-normal-button-border-color: #cf7870;
  --close-normal-button-shadow-color: #c66b64;
  --close-hover-button-background-color: linear-gradient(0deg, #cf7870, #c66b64);
  --close-press-button-background-color: linear-gradient(0deg, #c66b64, #bd5e58);
  --close-press-button-border-color: #c66b64;

  --save-arguments-button-text-color: #0e1116;
  --save-arguments-normal-button-background-color: linear-gradient(0deg, #8cb2c7, #83abc2);
  --save-arguments-normal-button-border-color: #7aa4bd;
  --save-arguments-normal-button-shadow-color: #709db8;
  --save-arguments-hover-button-background-color: linear-gradient(0deg, #7aa4bd, #709db8);
  --save-arguments-press-button-background-color: linear-gradient(0deg, #709db8, #6796b3);
  --save-arguments-press-button-border-color: #709db8;

  --safe-button-text-color: #efefef;
  --safe-normal-button-background-color: linear-gradient(0deg, #009e00, #00b400);
  --safe-normal-button-border-color: #018e01;
  --safe-normal-button-shadow-color: #008200;
  --safe-hover-button-background-color: linear-gradient(0deg, #018e01, #00b700);
  --safe-press-button-background-color: linear-gradient(0deg, #008200, #009a00);
  --safe-press-button-border-color: #008200;

  --dangerous-button-text-color: #efefef;
  --dangerous-normal-button-background-color: linear-gradient(0deg, #c92d3a, #e93745);
  --dangerous-normal-button-border-color: #b62935;
  --dangerous-normal-button-shadow-color: #ac2732;
  --dangerous-hover-button-background-color: linear-gradient(0deg, #b62935, #f13645);
  --dangerous-press-button-background-color: linear-gradient(0deg, #ac2732, #d92d3b);
  --dangerous-press-button-border-color: #ac2732;

  /* Extension Pupup */
  --extension-popup-glow-color: #676767;
  --extension-popup-text-glow-blur-radius: 0px;

  --extension-popup-switch-off-color: #b1b1b1;
  --extension-popup-switch-on-primary-background-color: #3c3c3c;
  --extension-popup-switch-on-secondary-background-color: #5353531a;
  --extension-popup-switch-on-primary-shadow-color: #666666;
  --extension-popup-switch-on-secondary-shadow-color: #65656533;
  --extension-popup-switch-on-text-color: #ffffff;
  --extension-popup-switch-on-border-color: #64646466;

  --extension-popup-dangerous-button-text-color: #ff2335;
  --extension-popup-dangerous-button-background-color: #ff2335;

  /* --- Other --- */

  /* Theme */
  --is-dark-theme: 0;
}
