:root {
  /* --- Colors --- */

  /* Text */
  --primary-text-color: #f0f0f0;
  --secondary-text-color: #cfcfcf;
  --tertiary-text-color: #aeaeae;
  --placeholder-color: #3b3f47;
  --error-text-color: #ff3e4e;

  --editor-header-text-color: #f0f0f0;
  --editor-footer-text-color: #9c9c9c;

  /* Backgrounds */
  --primary-background-color: #0e1116;
  --secondary-background-color: #020409;
  --tertiary-background-color: #171b22;
  --quaternary-background-color: #3c3f46;

  --editor-header-background-color: #020409;
  --editor-header-border-color: #1f2534;
  --editor-header-shadow-color: #000000bf;
  --editor-footer-background-color: #020409;
  --editor-footer-border-color: #31363c;
  --editor-code-line-numbers-background-color: #020409;
  --editor-code-line-numbers-border-color: #31363c;
  --editor-console-toggle-background-color: #181d29;

  /* Editor */
  --cursor-color: #477fef;
  --line-number-color: #6f7680;
  --active-line-number-color: #e7edf2;
  --active-line-background-color: #181b21;
  --selected-text-background-color: #304e75;
  --selected-searching-text-background-color: #966c23;
  --searching-text-background-color: #ffe0134d;
  --indent-guides-color: #282c30;
  --hint-matching-symbols-color: #477fef;
  --tooltip-border-color: #454545;

  /* Syntax */
  --comments-color: #7b8189;
  --system-functions-color: #c6a6f4;
  --system-flow-control-color: #ee8277;
  --variable-color: #dae0e5;
  --declared-variable-color: #dae0e5;
  --affected-variable-color: #9ec4e4;
  --strings-color: #afd5fb;
  --constants-color: #79a7dd;
  --math-operators-color: #d2736b;
  --logical-operators-color: #c46d65;
  --separators-color: #e7eef2;
  --semicolons-color: #e7eef2;
  --brackets-color: #89befa;
  --matching-brackets-background-color: #2b4230;
  --matching-brackets-border-color: #4d884b;
  --non-matching-brackets-text-color: #777e87;

  /* Buttons */
  --general-button-text-color: #0e1116;
  --general-normal-button-background-color: linear-gradient(0deg, #8ca7bd, #81a0b8);
  --general-normal-button-border-color: #7699b3;
  --general-normal-button-shadow-color: #6c92ae;
  --general-hover-button-background-color: linear-gradient(0deg, #7699b3, #6c92ae);
  --general-press-button-background-color: linear-gradient(0deg, #6c92ae, #618ba9);
  --general-press-button-border-color: #6c92ae;

  --close-button-text-color: #0e1116;
  --close-normal-button-background-color: linear-gradient(0deg, #e3857b, #d97872);
  --close-normal-button-border-color: #cf6b69;
  --close-normal-button-shadow-color: #c65f60;
  --close-hover-button-background-color: linear-gradient(0deg, #cf6b69, #c65f60);
  --close-press-button-background-color: linear-gradient(0deg, #c65f60, #bc5357);
  --close-press-button-border-color: #c65f60;

  --save-arguments-button-text-color: #0e1116;
  --save-arguments-normal-button-background-color: linear-gradient(0deg, #8ca7bd, #81a0b8);
  --save-arguments-normal-button-border-color: #7699b3;
  --save-arguments-normal-button-shadow-color: #6c92ae;
  --save-arguments-hover-button-background-color: linear-gradient(0deg, #7699b3, #6c92ae);
  --save-arguments-press-button-background-color: linear-gradient(0deg, #6c92ae, #618ba9);
  --save-arguments-press-button-border-color: #6c92ae;

  --safe-button-text-color: #efefef;
  --safe-normal-button-background-color: linear-gradient(0deg, #007600, #008900);
  --safe-normal-button-border-color: #006b00;
  --safe-normal-button-shadow-color: #006200;
  --safe-hover-button-background-color: linear-gradient(0deg, #006b00, #008600);
  --safe-press-button-background-color: linear-gradient(0deg, #006200, #007500);
  --safe-press-button-border-color: #006200;

  --dangerous-button-text-color: #efefef;
  --dangerous-normal-button-background-color: linear-gradient(0deg, #a6262f, #c02b37);
  --dangerous-normal-button-border-color: #932024;
  --dangerous-normal-button-shadow-color: #871f26;
  --dangerous-hover-button-background-color: linear-gradient(0deg, #932024, #c92838);
  --dangerous-press-button-background-color: linear-gradient(0deg, #871f26, #b22632);
  --dangerous-press-button-border-color: #871f26;

  /* Extension Popup */
  --extension-popup-glow-color: #b0b0b0;
  --extension-popup-text-glow-blur-radius: 0px;

  --extension-popup-switch-off-color: #696969;
  --extension-popup-switch-on-primary-background-color: #bebebe;
  --extension-popup-switch-on-secondary-background-color: #b7b7b71a;
  --extension-popup-switch-on-primary-shadow-color: #b2b2b2;
  --extension-popup-switch-on-secondary-shadow-color: #bdbdbd33;
  --extension-popup-switch-on-text-color: #0e1116;
  --extension-popup-switch-on-border-color: #bdbdbd66;

  --extension-popup-dangerous-button-text-color: #ff2335;
  --extension-popup-dangerous-button-background-color: #ff2335;

  /* --- Other --- */

  /* Theme */
  --is-dark-theme: 1;
}
