:root {
  /* --- Colors --- */

  /* Text */
  --primary-text-color: #e5e2dc;
  --secondary-text-color: #c5c2bc;
  --tertiary-text-color: #93918c;
  --placeholder-color: #8e9ab6;
  --error-text-color: #f22c3e;

  --editor-header-text-color: #e5e2dc;
  --editor-footer-text-color: #a2a09c;

  /* Backgrounds */
  --primary-background-color: #061626;
  --secondary-background-color: #05131f;
  --tertiary-background-color: #122438;
  --quaternary-background-color: #657d95;

  --editor-header-background-color: #132840;
  --editor-header-border-color: #0e1e31;
  --editor-header-shadow-color: #020910bf;
  --editor-footer-background-color: #0e2034;
  --editor-footer-border-color: #08121d;
  --editor-code-line-numbers-background-color: #0e2034;
  --editor-code-line-numbers-border-color: #08121d;
  --editor-console-toggle-background-color: #142942;

  /* Editor */
  --cursor-color: #8aa6c3;
  --line-number-color: #506377;
  --active-line-number-color: #cbe3fa;
  --active-line-background-color: #05121e;
  --selected-text-background-color: #1d3b53;
  --selected-searching-text-background-color: #565b88;
  --searching-text-background-color: #126db74d;
  --indent-guides-color: #25385a;
  --hint-matching-symbols-color: #ffffff;
  --tooltip-border-color: #4d657d;

  /* Syntax */
  --comments-color: #677677;
  --system-functions-color: #8aa9f9;
  --system-flow-control-color: #c799ec;
  --variable-color: #d8dbdf;
  --declared-variable-color: #d8dbdf;
  --affected-variable-color: #95d8c9;
  --strings-color: #e6c594;
  --constants-color: #ec6477;
  --math-operators-color: #bf94e4;
  --logical-operators-color: #bf94e4;
  --separators-color: #d7deea;
  --semicolons-color: #d7deea;
  --brackets-color: #f9d849;
  --matching-brackets-background-color: #223342;
  --matching-brackets-border-color: #888888;
  --nonmatching-brackets-text-color: #c33228;

  /* Buttons */
  --general-button-text-color: #00003d;
  --general-normal-button-background-color: linear-gradient(0deg, #a1c6e7, #c7e0f5);
  --general-normal-button-border-color: #749abb;
  --general-normal-button-shadow-color: #527798;
  --general-hover-button-background-color: linear-gradient(0deg, #749abb, #8aabc8);
  --general-press-button-background-color: linear-gradient(0deg, #527798, #6e90ae);
  --general-press-button-border-color: #527798;

  --close-button-text-color: #000018;
  --close-normal-button-background-color: linear-gradient(0deg, #e5e2dc, #cfccc7);
  --close-normal-button-border-color: #cfccc7;
  --close-normal-button-shadow-color: #bab8b3;
  --close-hover-button-background-color: linear-gradient(0deg, #cfccc7, #b7b5b0);
  --close-press-button-background-color: linear-gradient(0deg, #bab8b3, #a4a39f);
  --close-press-button-border-color: #bab8b3;

  --save-arguments-button-text-color: #00003d;
  --save-arguments-normal-button-background-color: linear-gradient(0deg, #a1c6e7, #96bad9);
  --save-arguments-normal-button-border-color: #93b6d5;
  --save-arguments-normal-button-shadow-color: #85a5c2;
  --save-arguments-hover-button-background-color: linear-gradient(0deg, #93b6d5, #83a3bf);
  --save-arguments-press-button-background-color: linear-gradient(0deg, #85a5c2, #728ea7);
  --save-arguments-press-button-border-color: #85a5c2;

  --safe-button-text-color: #ffffff;
  --safe-normal-button-background-color: linear-gradient(0deg, #008a00, #0ca60c);
  --safe-normal-button-border-color: #007100;
  --safe-normal-button-shadow-color: #005c00;
  --safe-hover-button-background-color: linear-gradient(0deg, #007100, #089008);
  --safe-press-button-background-color: linear-gradient(0deg, #005c00, #056005);
  --safe-press-button-border-color: #005c00;

  --dangerous-button-text-color: #ffffff;
  --dangerous-normal-button-background-color: linear-gradient(0deg, #d22f3b, #e03c47);
  --dangerous-normal-button-border-color: #b7101a;
  --dangerous-normal-button-shadow-color: #8c0c16;
  --dangerous-hover-button-background-color: linear-gradient(0deg, #b7101a, #cf1f29);
  --dangerous-press-button-background-color: linear-gradient(0deg, #8c0c16, #a6131c);
  --dangerous-press-button-border-color: #8c0c16;

  /* Extension Pupup */
  --extension-popup-glow-color: #5a8496;
  --extension-popup-text-glow-blur-radius: 0px;

  --extension-popup-switch-off-color: #5e6368;
  --extension-popup-switch-on-primary-background-color: #73a1b6;
  --extension-popup-switch-on-secondary-background-color: #4b7a8d1a;
  --extension-popup-switch-on-primary-shadow-color: #4b7a8d;
  --extension-popup-switch-on-secondary-shadow-color: #4d7a8d33;
  --extension-popup-switch-on-text-color: #2b4c5a;
  --extension-popup-switch-on-border-color: #89c2d966;

  --extension-popup-dangerous-button-text-color: #ff2335;
  --extension-popup-dangerous-button-background-color: #ff2335;

  /* --- Other --- */

  /* Theme */
  --is-dark-theme: 1;
}
