:root {
  /* --- Colors --- */

  /* Text */
  --primary-text-color: #e5e2dc;
  --secondary-text-color: #c5c2bc;
  --tertiary-text-color: #93918c;
  --placeholder-color: #8e9ab6;
  --error-text-color: #f22c3e;

  --editor-header-text-color: #e5e2dc;
  --editor-footer-text-color: #65778b;

  /* Backgrounds */
  --primary-background-color: #061626;
  --secondary-background-color: #05131f;
  --tertiary-background-color: #122438;
  --quaternary-background-color: #475c70;

  --editor-header-background-color: #132840;
  --editor-header-border-color: #22364a;
  --editor-header-shadow-color: #020910bf;
  --editor-footer-background-color: #0e2034;
  --editor-footer-border-color: #203445;
  --editor-code-line-numbers-background-color: #0e2034;
  --editor-code-line-numbers-border-color: #203445;
  --editor-console-toggle-background-color: #142942;

  /* Editor */
  --cursor-color: #8aa6c3;
  --line-number-color: #506377;
  --active-line-number-color: #cbe3fa;
  --active-line-background-color: #05121e;
  --selected-text-background-color: #1d3b53;
  --selected-searching-text-background-color: #0f2d45;
  --searching-text-background-color: #008cff4d;
  --indent-guides-color: #283b5f;
  --hint-matching-symbols-color: #cbe386;
  --tooltip-border-color: #657d95;

  /* Syntax */
  --comments-color: #677677;
  --system-functions-color: #8aa9f9;
  --system-flow-control-color: #C799EC;
  --variable-color: #d8dbdf;
  --declared-variable-color: #d8dbdf;
  --affected-variable-color: #95d8c9;
  --strings-color: #e6c594;
  --constants-color: #ec6477;
  --math-operators-color: #bf94e4;
  --logical-operators-color: #bf94e4;
  --separators-color: #d7deea;
  --semicolons-color: #d7deea;
  --brackets-color: #f9d849;
  --matching-brackets-background-color: #223342;
  --matching-brackets-border-color: #888888;
  --nonmatching-brackets-text-color: #c33228;

  /* Buttons */
  --general-button-text-color: #00003D;
  --general-normal-button-background-color: linear-gradient(0deg, #a1c6e7, #c7e0f5);
  --general-normal-button-border-color: #749abb;
  --general-normal-button-shadow-color: #527798;
  --general-hover-button-background-color: linear-gradient(0deg, #749abb, #8aabc8);
  --general-press-button-background-color: linear-gradient(0deg, #527798, #6e90ae);
  --general-press-button-border-color: #527798;

  --close-button-text-color: #000018;
  --close-normal-button-background-color: linear-gradient(0deg, #eba57f, #eba57f);
  --close-normal-button-border-color: #d3845a;
  --close-normal-button-shadow-color: #af663f;
  --close-hover-button-background-color: linear-gradient(0deg, #d3845a, #dd956f);
  --close-press-button-background-color: linear-gradient(0deg, #af663f, #c67d56);
  --close-press-button-border-color: #af663f;

  --save-arguments-button-text-color: #00003D;
  --save-arguments-normal-button-background-color: linear-gradient(0deg, #a1c6e7, #c7e0f5);
  --save-arguments-normal-button-border-color: #749abb;
  --save-arguments-normal-button-shadow-color: #527798;
  --save-arguments-hover-button-background-color: linear-gradient(0deg, #749abb, #8aabc8);
  --save-arguments-press-button-background-color: linear-gradient(0deg, #527798, #6e90ae);
  --save-arguments-press-button-border-color: #527798;

  --safe-button-text-color: #ffffff;
  --safe-normal-button-background-color: linear-gradient(0deg, #00b200, #0eb50e);
  --safe-normal-button-border-color: #019101;
  --safe-normal-button-shadow-color: #006e00;
  --safe-hover-button-background-color: linear-gradient(0deg, #019101, #09a009);
  --safe-press-button-background-color: linear-gradient(0deg, #006e00, #057205);
  --safe-press-button-border-color: #006e00;

  --dangerous-button-text-color: #ffffff;
  --dangerous-normal-button-background-color: linear-gradient(0deg, #e53343, #f3404f);
  --dangerous-normal-button-border-color: #cd1222;
  --dangerous-normal-button-shadow-color: #9e0e1a;
  --dangerous-hover-button-background-color: linear-gradient(0deg, #cd1222, #e02231);
  --dangerous-press-button-background-color: linear-gradient(0deg, #9e0e1a, #b21724);
  --dangerous-press-button-border-color: #9e0e1a;

  /* Extension Pupup */
  --extension-popup-glow-color: #76aec6;
  --extension-popup-text-glow-blur-radius: 0px;

  --extension-popup-switch-off-color: #5e6368;
  --extension-popup-switch-on-primary-background-color: #89c2da;
  --extension-popup-switch-on-secondary-background-color: #4b7a8d1a;
  --extension-popup-switch-on-primary-shadow-color: #4b7a8d;
  --extension-popup-switch-on-secondary-shadow-color: #4d7a8d33;
  --extension-popup-switch-on-text-color: #3b6a7d;
  --extension-popup-switch-on-border-color: #89c2d966;

  --extension-popup-dangerous-button-text-color: #ff2335;
  --extension-popup-dangerous-button-background-color: #ff2335;

  /* --- Other --- */

  /* Theme */
  --is-dark-theme: 1;
}
