:root {
  /* --- Colors --- */

  /* Text */
  --primary-text-color: #d1d5eb;
  --secondary-text-color: #bcc0d4;
  --tertiary-text-color: #aaadbf;
  --placeholder-color: #D6D7DC;
  --error-text-color: #FF4500;

  --editor-header-text-color: #d1d5eb;
  --editor-footer-text-color: #555d7d;

  /* Backgrounds */
  --primary-background-color: #2A2D3D;
  --secondary-background-color: #1d1f2c;
  --tertiary-background-color: #242636;
  --quaternary-background-color: #7859BC;

  --editor-header-background-color: #1f212c;
  --editor-header-border-color: #1b1c26;
  --editor-header-shadow-color: #14151dbf;
  --editor-footer-background-color: #232532;
  --editor-footer-border-color: #171821;
  --editor-code-line-numbers-background-color: #232532;
  --editor-code-line-numbers-border-color: #171821;
  --editor-console-toggle-background-color: #232532;

  /* Editor */
  --cursor-color: #7859BC;
  --line-number-color: #4D5371;
  --active-line-number-color: #F1FEFF;
  --active-line-background-color: #222431;
  --selected-text-background-color: #424762;
  --selected-searching-text-background-color: #524d7a;
  --searching-text-background-color: #6e61d44d;
  --indent-guides-color: #3D4159;
  --hint-matching-symbols-color: #FFFFFF;
  --tooltip-border-color: #212431;

  /* Syntax */
  --comments-color: #6A7095;
  --system-functions-color: #8AA9F9;
  --system-flow-control-color: #BF94E4;
  --variable-color: #C0C7D4;
  --declared-variable-color: #C0C7D4;
  --affected-variable-color: #a5beed;
  --strings-color: #B3CB88;
  --constants-color: #D38571;
  --math-operators-color: #9CDBFB;
  --logical-operators-color: #B28BD6;
  --separators-color: #F1FEFF;
  --semicolons-color: #C0C7D4;
  --brackets-color: #F9D849;
  --matching-brackets-background-color: #232A2E;
  --matching-brackets-border-color: #888888;
  --nonmatching-brackets-text-color: #C93836;

  /* Buttons */
  --general-button-text-color: #2A2D3D;
  --general-normal-button-background-color: linear-gradient(0deg, #9194a7, #86899b);
  --general-normal-button-border-color: #838697;
  --general-normal-button-shadow-color: #727484;
  --general-hover-button-background-color: linear-gradient(0deg, #838697, #7c7f90);
  --general-press-button-background-color: linear-gradient(0deg, #727484, #727484);
  --general-press-button-border-color: #727484;

  --close-button-text-color: #c5cbec;
  --close-normal-button-background-color: linear-gradient(0deg, #505472, #484b66);
  --close-normal-button-border-color: #454964;
  --close-normal-button-shadow-color: #3c4058;
  --close-hover-button-background-color: linear-gradient(0deg, #454964, #3b3f57);
  --close-press-button-background-color: linear-gradient(0deg, #3c4058, #34384d);
  --close-press-button-border-color: #3c4058;

  --save-arguments-button-text-color: #2A2D3D;
  --save-arguments-normal-button-background-color: linear-gradient(0deg, #9194a7, #86899b);
  --save-arguments-normal-button-border-color: #838697;
  --save-arguments-normal-button-shadow-color: #727484;
  --save-arguments-hover-button-background-color: linear-gradient(0deg, #838697, #7c7f90);
  --save-arguments-press-button-background-color: linear-gradient(0deg, #727484, #727484);
  --save-arguments-press-button-border-color: #727484;

  --safe-button-text-color: #efefef;
  --safe-normal-button-background-color: linear-gradient(0deg, #007600, #008900);
  --safe-normal-button-border-color: #006b00;
  --safe-normal-button-shadow-color: #006200;
  --safe-hover-button-background-color: linear-gradient(0deg, #006b00, #008600);
  --safe-press-button-background-color: linear-gradient(0deg, #006200, #007500);
  --safe-press-button-border-color: #006200;

  --dangerous-button-text-color: #efefef;
  --dangerous-normal-button-background-color: linear-gradient(0deg, #a6262f, #c02b37);
  --dangerous-normal-button-border-color: #932024;
  --dangerous-normal-button-shadow-color: #871f26;
  --dangerous-hover-button-background-color: linear-gradient(0deg, #932024, #c92838);
  --dangerous-press-button-background-color: linear-gradient(0deg, #871f26, #b22632);
  --dangerous-press-button-border-color: #871f26;

  /* Extension Pupup */
  --extension-popup-glow-color: #7f8294;
  --extension-popup-text-glow-blur-radius: 0px;

  --extension-popup-switch-off-color: #666879;
  --extension-popup-switch-on-primary-background-color: #bbbfd4;
  --extension-popup-switch-on-secondary-background-color: #989db41a;
  --extension-popup-switch-on-primary-shadow-color: #9a9fb6;
  --extension-popup-switch-on-secondary-shadow-color: #9599b033;
  --extension-popup-switch-on-text-color: #2A2D3D;
  --extension-popup-switch-on-border-color: #a0a5bb66;

  --extension-popup-dangerous-button-text-color: #ff2335;
  --extension-popup-dangerous-button-background-color: #ff2335;

  /* --- Other --- */

  /* Theme */
  --is-dark-theme: 1;
}
