:root {
  /* --- Colors --- */

  /* Text */
  --primary-text-color: #c0c7d4;
  --secondary-text-color: #abb1bd;
  --tertiary-text-color: #959aa5;
  --placeholder-color: #d6d7dc;
  --error-text-color: #ff4500;

  --editor-header-text-color: #c0c7d4;
  --editor-footer-text-color: #898f99;

  /* Backgrounds */
  --primary-background-color: #2a2d3d;
  --secondary-background-color: #1d1f2c;
  --tertiary-background-color: #242636;
  --quaternary-background-color: #7859bc;

  --editor-header-background-color: #1f212c;
  --editor-header-border-color: #1b1c26;
  --editor-header-shadow-color: #14151dbf;
  --editor-footer-background-color: #232532;
  --editor-footer-border-color: #171821;
  --editor-code-line-numbers-background-color: #232532;
  --editor-code-line-numbers-border-color: #171821;
  --editor-console-toggle-background-color: #232532;

  /* Editor */
  --cursor-color: #7859bc;
  --line-number-color: #4d5371;
  --active-line-number-color: #f1feff;
  --active-line-background-color: #222431;
  --selected-text-background-color: #424762;
  --selected-searching-text-background-color: #524d7a;
  --searching-text-background-color: #6e61d44d;
  --indent-guides-color: #3d4159;
  --hint-matching-symbols-color: #ffffff;
  --tooltip-border-color: #212431;

  /* Syntax */
  --comments-color: #6a7095;
  --system-functions-color: #8aa9f9;
  --system-flow-control-color: #bf94e4;
  --variable-color: #c0c7d4;
  --declared-variable-color: #c0c7d4;
  --affected-variable-color: #a5beed;
  --strings-color: #b3cb88;
  --constants-color: #d38571;
  --math-operators-color: #9cdbfb;
  --logical-operators-color: #b28bd6;
  --separators-color: #f1feff;
  --semicolons-color: #c0c7d4;
  --brackets-color: #f9d849;
  --matching-brackets-background-color: #232a2e;
  --matching-brackets-border-color: #888888;
  --nonmatching-brackets-text-color: #c93836;

  /* Buttons */
  --general-button-text-color: #2a2d3d;
  --general-normal-button-background-color: linear-gradient(0deg, #9194a7, #86899b);
  --general-normal-button-border-color: #838697;
  --general-normal-button-shadow-color: #727484;
  --general-hover-button-background-color: linear-gradient(0deg, #838697, #7c7f90);
  --general-press-button-background-color: linear-gradient(0deg, #727484, #727484);
  --general-press-button-border-color: #727484;

  --close-button-text-color: #2a2d3d;
  --close-normal-button-background-color: linear-gradient(0deg, #7c7da6, #7273a0);
  --close-normal-button-border-color: #696b9a;
  --close-normal-button-shadow-color: #626493;
  --close-hover-button-background-color: linear-gradient(0deg, #696b9a, #626493);
  --close-press-button-background-color: linear-gradient(0deg, #626493, #5b5d8c);
  --close-press-button-border-color: #626493;

  --save-arguments-button-text-color: #2a2d3d;
  --save-arguments-normal-button-background-color: linear-gradient(0deg, #9194a7, #86899b);
  --save-arguments-normal-button-border-color: #838697;
  --save-arguments-normal-button-shadow-color: #727484;
  --save-arguments-hover-button-background-color: linear-gradient(0deg, #838697, #7c7f90);
  --save-arguments-press-button-background-color: linear-gradient(0deg, #727484, #727484);
  --save-arguments-press-button-border-color: #727484;

  --safe-button-text-color: #efefef;
  --safe-normal-button-background-color: linear-gradient(0deg, #007600, #008900);
  --safe-normal-button-border-color: #006b00;
  --safe-normal-button-shadow-color: #006200;
  --safe-hover-button-background-color: linear-gradient(0deg, #006b00, #008600);
  --safe-press-button-background-color: linear-gradient(0deg, #006200, #007500);
  --safe-press-button-border-color: #006200;

  --dangerous-button-text-color: #efefef;
  --dangerous-normal-button-background-color: linear-gradient(0deg, #a6262f, #c02b37);
  --dangerous-normal-button-border-color: #932024;
  --dangerous-normal-button-shadow-color: #871f26;
  --dangerous-hover-button-background-color: linear-gradient(0deg, #932024, #c92838);
  --dangerous-press-button-background-color: linear-gradient(0deg, #871f26, #b22632);
  --dangerous-press-button-border-color: #871f26;

  /* Extension Pupup */
  --extension-popup-glow-color: #7f8294;
  --extension-popup-text-glow-blur-radius: 0px;

  --extension-popup-switch-off-color: #666879;
  --extension-popup-switch-on-primary-background-color: #bbbfd4;
  --extension-popup-switch-on-secondary-background-color: #989db41a;
  --extension-popup-switch-on-primary-shadow-color: #9a9fb6;
  --extension-popup-switch-on-secondary-shadow-color: #9599b033;
  --extension-popup-switch-on-text-color: #2a2d3d;
  --extension-popup-switch-on-border-color: #a0a5bb66;

  --extension-popup-dangerous-button-text-color: #ff2335;
  --extension-popup-dangerous-button-background-color: #ff2335;

  /* --- Other --- */

  /* Theme */
  --is-dark-theme: 1;
}
