:root {
  /* --- Colors --- */

  /* Text */
  --primary-text-color: #b3bbdf;
  --secondary-text-color: #9ca3c2;
  --tertiary-text-color: #8187a0;
  --placeholder-color: #47495a;
  --error-text-color: #ff4500;

  --editor-header-text-color: #b3bbdf;
  --editor-footer-text-color: #8289a7;

  /* Backgrounds */
  --primary-background-color: #1a1b25;
  --secondary-background-color: #0e0e12;
  --tertiary-background-color: #16161d;
  --quaternary-background-color: #2b2d39;

  --editor-header-background-color: #0e0e14;
  --editor-header-border-color: #08080b;
  --editor-header-shadow-color: #0e0e14bf;
  --editor-footer-background-color: #161720;
  --editor-footer-border-color: #0d0e13;
  --editor-code-line-numbers-background-color: #161720;
  --editor-code-line-numbers-border-color: #0d0e13;
  --editor-console-toggle-background-color: #0d0e13;

  /* Editor */
  --cursor-color: #c2caf1;
  --line-number-color: #373b52;
  --active-line-number-color: #747a9f;
  --active-line-background-color: #1e202d;
  --selected-text-background-color: #2b2f3f;
  --selected-searching-text-background-color: #49537c;
  --searching-text-background-color: #656e904d;
  --indent-guides-color: #2a2d3d;
  --hint-matching-symbols-color: #6e89bf;
  --tooltip-border-color: #101014;

  /* Syntax */
  --comments-color: #454b68;
  --system-functions-color: #82a1f1;
  --system-flow-control-color: #b69bf1;
  --variable-color: #b3bbdf;
  --declared-variable-color: #b3bbdf;
  --affected-variable-color: #90cdfa;
  --strings-color: #a0c371;
  --constants-color: #d59165;
  --math-operators-color: #9cdbfb;
  --logical-operators-color: #a18bd8;
  --separators-color: #9cdbfb;
  --semicolons-color: #9cdbfb;
  --brackets-color: #708bd0;
  --matching-brackets-background-color: #16161d;
  --matching-brackets-border-color: #43465b;
  --nonmatching-brackets-text-color: #cb5551;

  /* Buttons */
  --general-button-text-color: #1a1b25;
  --general-normal-button-background-color: linear-gradient(0deg, #b3bbdf, #9ca3c3);
  --general-normal-button-border-color: #9aa1c0;
  --general-normal-button-shadow-color: #868ca8;
  --general-hover-button-background-color: linear-gradient(0deg, #9aa1c0, #8288a2);
  --general-press-button-background-color: linear-gradient(0deg, #868ca8, #71778f);
  --general-press-button-border-color: #868ca8;

  --close-button-text-color: #b3bbdf;
  --close-normal-button-background-color: linear-gradient(0deg, #404152, #373846);
  --close-normal-button-border-color: #363745;
  --close-normal-button-shadow-color: #2f303c;
  --close-hover-button-background-color: linear-gradient(0deg, #363745, #2e2f3b);
  --close-press-button-background-color: linear-gradient(0deg, #2f303c, #282933);
  --close-press-button-border-color: #2f303c;

  --save-arguments-button-text-color: #1a1b25;
  --save-arguments-normal-button-background-color: linear-gradient(0deg, #b3bbdf, #9ca3c3);
  --save-arguments-normal-button-border-color: #9aa1c0;
  --save-arguments-normal-button-shadow-color: #868ca8;
  --save-arguments-hover-button-background-color: linear-gradient(0deg, #9aa1c0, #8288a2);
  --save-arguments-press-button-background-color: linear-gradient(0deg, #868ca8, #71778f);
  --save-arguments-press-button-border-color: #868ca8;

  --safe-button-text-color: #dedede;
  --safe-normal-button-background-color: linear-gradient(0deg, #008a00, #009600);
  --safe-normal-button-border-color: #007a00;
  --safe-normal-button-shadow-color: #006c00;
  --safe-hover-button-background-color: linear-gradient(0deg, #007a00, #009200);
  --safe-press-button-background-color: linear-gradient(0deg, #006c00, #008200);
  --safe-press-button-border-color: #006c00;

  --dangerous-button-text-color: #dedede;
  --dangerous-normal-button-background-color: linear-gradient(0deg, #b02532, #d1303a);
  --dangerous-normal-button-border-color: #a0212d;
  --dangerous-normal-button-shadow-color: #992329;
  --dangerous-hover-button-background-color: linear-gradient(0deg, #a0212d, #e02a3a);
  --dangerous-press-button-background-color: linear-gradient(0deg, #992329, #c0222f);
  --dangerous-press-button-border-color: #992329;

  /* Extension Pupup */
  --extension-popup-glow-color: #8389a4;
  --extension-popup-text-glow-blur-radius: 0px;

  --extension-popup-switch-off-color: #454856;
  --extension-popup-switch-on-primary-background-color: #99a0be;
  --extension-popup-switch-on-secondary-background-color: #767d991a;
  --extension-popup-switch-on-primary-shadow-color: #787f9b;
  --extension-popup-switch-on-secondary-shadow-color: #767d9933;
  --extension-popup-switch-on-text-color: #1a1b25;
  --extension-popup-switch-on-border-color: #787e9a66;

  --extension-popup-dangerous-button-text-color: #ff2335;
  --extension-popup-dangerous-button-background-color: #ff2335;

  /* --- Other --- */

  /* Theme */
  --is-dark-theme: 1;
}
