:root {
  /* --- Colors --- */

  /* Text */
  --primary-text-color: #B3BBDF;
  --secondary-text-color: #9ca3c2;
  --tertiary-text-color: #8187a0;
  --placeholder-color: #47495A;
  --error-text-color: #FF4500;

  --editor-header-text-color: #B3BBDF;
  --editor-footer-text-color: #8289a7;

  /* Backgrounds */
  --primary-background-color: #1A1B25;
  --secondary-background-color: #0e0e12;
  --tertiary-background-color: #16161D;
  --quaternary-background-color: #252731;

  --editor-header-background-color: #0e0e14;
  --editor-header-border-color: #08080b;
  --editor-header-shadow-color: #0e0e14bf;
  --editor-footer-background-color: #161720;
  --editor-footer-border-color: #0d0e13;
  --editor-code-line-numbers-background-color: #161720;
  --editor-code-line-numbers-border-color: #0d0e13;
  --editor-console-toggle-background-color: #0d0e13;

  /* Editor */
  --cursor-color: #C2CAF1;
  --line-number-color: #373B52;
  --active-line-number-color: #747A9F;
  --active-line-background-color: #1E202D;
  --selected-text-background-color: #2B2F3F;
  --selected-searching-text-background-color: #49537c;
  --searching-text-background-color: #656e904d;
  --indent-guides-color: #2a2d3d;
  --hint-matching-symbols-color: #6E89BF;
  --tooltip-border-color: #101014;

  /* Syntax */
  --comments-color: #454B68;
  --system-functions-color: #82A1F1;
  --system-flow-control-color: #B69BF1;
  --variable-color: #B3BBDF;
  --declared-variable-color: #B3BBDF;
  --affected-variable-color: #90CDFA;
  --strings-color: #A0C371;
  --constants-color: #D59165;
  --math-operators-color: #9CDBFB;
  --logical-operators-color: #A18BD8;
  --separators-color: #9CDBFB;
  --semicolons-color: #9CDBFB;
  --brackets-color: #708BD0;
  --matching-brackets-background-color: #16161D;
  --matching-brackets-border-color: #43465B;
  --nonmatching-brackets-text-color: #CB5551;

  /* Buttons */
  --general-button-text-color: #1A1B25;
  --general-normal-button-background-color: linear-gradient(0deg, #B3BBDF, #9ca3c3);
  --general-normal-button-border-color: #9aa1c0;
  --general-normal-button-shadow-color: #868ca8;
  --general-hover-button-background-color: linear-gradient(0deg, #9aa1c0, #8288a2);
  --general-press-button-background-color: linear-gradient(0deg, #868ca8, #71778f);
  --general-press-button-border-color: #868ca8;

  --close-button-text-color: #B3BBDF;
  --close-normal-button-background-color: linear-gradient(0deg, #404152, #373846);
  --close-normal-button-border-color: #363745;
  --close-normal-button-shadow-color: #2f303c;
  --close-hover-button-background-color: linear-gradient(0deg, #363745, #2e2f3b);
  --close-press-button-background-color: linear-gradient(0deg, #2f303c, #282933);
  --close-press-button-border-color: #2f303c;

  --save-arguments-button-text-color: #1A1B25;
  --save-arguments-normal-button-background-color: linear-gradient(0deg, #B3BBDF, #9ca3c3);
  --save-arguments-normal-button-border-color: #9aa1c0;
  --save-arguments-normal-button-shadow-color: #868ca8;
  --save-arguments-hover-button-background-color: linear-gradient(0deg, #9aa1c0, #8288a2);
  --save-arguments-press-button-background-color: linear-gradient(0deg, #868ca8, #71778f);
  --save-arguments-press-button-border-color: #868ca8;

  --safe-button-text-color: #efefef;
  --safe-normal-button-background-color: linear-gradient(0deg, #009e00, #00b400);
  --safe-normal-button-border-color: #018e01;
  --safe-normal-button-shadow-color: #008200;
  --safe-hover-button-background-color: linear-gradient(0deg, #018e01, #00b700);
  --safe-press-button-background-color: linear-gradient(0deg, #008200, #009a00);
  --safe-press-button-border-color: #008200;

  --dangerous-button-text-color: #efefef;
  --dangerous-normal-button-background-color: linear-gradient(0deg, #c92d3a, #e93745);
  --dangerous-normal-button-border-color: #b62935;
  --dangerous-normal-button-shadow-color: #ac2732;
  --dangerous-hover-button-background-color: linear-gradient(0deg, #b62935, #f13645);
  --dangerous-press-button-background-color: linear-gradient(0deg, #ac2732, #d92d3b);
  --dangerous-press-button-border-color: #ac2732;

  /* Extension Pupup */
  --extension-popup-glow-color: #8389a4;
  --extension-popup-text-glow-blur-radius: 0px;

  --extension-popup-switch-off-color: #454856;
  --extension-popup-switch-on-primary-background-color: #99a0be;
  --extension-popup-switch-on-secondary-background-color: #767d991a;
  --extension-popup-switch-on-primary-shadow-color: #787f9b;
  --extension-popup-switch-on-secondary-shadow-color: #767d9933;
  --extension-popup-switch-on-text-color: #1A1B25;
  --extension-popup-switch-on-border-color: #787e9a66;

  --extension-popup-dangerous-button-text-color: #ff2335;
  --extension-popup-dangerous-button-background-color: #ff2335;

  /* --- Other --- */

  /* Theme */
  --is-dark-theme: 1;
}
