:root {
  /* --- Colors --- */

  /* Text */
  --primary-text-color: #343434;
  --secondary-text-color: #555555;
  --tertiary-text-color: #747474;
  --placeholder-color: #777777;
  --error-text-color: #f22c3e;

  --editor-header-text-color: #444444;
  --editor-footer-text-color: #7e7e7e;

  /* Backgrounds */
  --primary-background-color: #ffffff;
  --secondary-background-color: #d9d9d9;
  --tertiary-background-color: #ebebeb;
  --quaternary-background-color: #3b7ceb;

  --editor-header-background-color: #dddddd;
  --editor-header-border-color: #cccccc;
  --editor-header-shadow-color: #9e9e9edf;
  --editor-footer-background-color: #f3f3f3;
  --editor-footer-border-color: #d1d1d1;
  --editor-code-line-numbers-background-color: #f3f3f3;
  --editor-code-line-numbers-border-color: #e3e3e3;
  --editor-console-toggle-background-color: #e3e3e3;

  /* Editor */
  --cursor-color: #000000;
  --line-number-color: #3d7690;
  --active-line-number-color: #303d7e;
  --active-line-background-color: #eeeeee;
  --selected-text-background-color: #b5d5fb;
  --selected-searching-text-background-color: #a9ac96;
  --searching-text-background-color: #d17d5c4d;
  --indent-guides-color: #d3d3d3;
  --hint-matching-symbols-color: #2a64b9;
  --tooltip-border-color: #c8c8c8;

  /* Syntax */
  --comments-color: #377e22;
  --system-functions-color: #755f30;
  --system-flow-control-color: #a020de;
  --variable-color: #2f6ebb;
  --declared-variable-color: #2f6ebb;
  --affected-variable-color: #3d87e1;
  --strings-color: #95261f;
  --constants-color: #b46f1b;
  --math-operators-color: #0a0a0a;
  --logical-operators-color: #000000;
  --separators-color: #0c0c0c;
  --semicolons-color: #000000;
  --brackets-color: #1330f0;
  --matching-brackets-background-color: #e8f1e5;
  --matching-brackets-border-color: #b9b9b9;
  --non-matching-brackets-text-color: #fb4f43;

  /* Buttons */
  --general-button-text-color: #ffffff;
  --general-normal-button-background-color: linear-gradient(0deg, #2991ff, #2787ee);
  --general-normal-button-border-color: #1865c9;
  --general-normal-button-shadow-color: #1558b7;
  --general-hover-button-background-color: linear-gradient(0deg, #1865c9, #1558b7);
  --general-press-button-background-color: linear-gradient(0deg, #1558b7, #124ba4);
  --general-press-button-border-color: #1558b7;

  --close-button-text-color: #ffffff;
  --close-normal-button-background-color: linear-gradient(0deg, #a0a0a0, #8f8f8f);
  --close-normal-button-border-color: #808080;
  --close-normal-button-shadow-color: #707070;
  --close-hover-button-background-color: linear-gradient(0deg, #808080, #6d6d6d);
  --close-press-button-background-color: linear-gradient(0deg, #707070, #606060);
  --close-press-button-border-color: #707070;

  --save-arguments-button-text-color: #ffffff;
  --save-arguments-normal-button-background-color: linear-gradient(0deg, #2991ff, #2787ee);
  --save-arguments-normal-button-border-color: #1865c9;
  --save-arguments-normal-button-shadow-color: #1558b7;
  --save-arguments-hover-button-background-color: linear-gradient(0deg, #1865c9, #1558b7);
  --save-arguments-press-button-background-color: linear-gradient(0deg, #1558b7, #124ba4);
  --save-arguments-press-button-border-color: #1558b7;

  --safe-button-text-color: #ffffff;
  --safe-normal-button-background-color: linear-gradient(0deg, #00b200, #0eb50e);
  --safe-normal-button-border-color: #019101;
  --safe-normal-button-shadow-color: #006e00;
  --safe-hover-button-background-color: linear-gradient(0deg, #019101, #09a009);
  --safe-press-button-background-color: linear-gradient(0deg, #006e00, #057205);
  --safe-press-button-border-color: #006e00;

  --dangerous-button-text-color: #ffffff;
  --dangerous-normal-button-background-color: linear-gradient(0deg, #e53343, #f3404f);
  --dangerous-normal-button-border-color: #cd1222;
  --dangerous-normal-button-shadow-color: #9e0e1a;
  --dangerous-hover-button-background-color: linear-gradient(0deg, #cd1222, #e02231);
  --dangerous-press-button-background-color: linear-gradient(0deg, #9e0e1a, #b21724);
  --dangerous-press-button-border-color: #9e0e1a;

  /* Extension Popup */
  --extension-popup-glow-color: #aeaeae;
  --extension-popup-text-glow-blur-radius: 0px;

  --extension-popup-switch-off-color: #949494;
  --extension-popup-switch-on-primary-background-color: #5c5c5c;
  --extension-popup-switch-on-secondary-background-color: #7d7d7d1a;
  --extension-popup-switch-on-primary-shadow-color: #7c7c7c;
  --extension-popup-switch-on-secondary-shadow-color: #80808033;
  --extension-popup-switch-on-text-color: #ffffff;
  --extension-popup-switch-on-border-color: #80808066;

  --extension-popup-dangerous-button-text-color: #ff2335;
  --extension-popup-dangerous-button-background-color: #ff2335;

  /* --- Other --- */

  /* Theme */
  --is-dark-theme: 0;
}
