:root {
  /* --- Colors --- */

  /* Text */
  --primary-text-color: #e3e3e3;
  --secondary-text-color: #bebebe;
  --tertiary-text-color: #979797;
  --placeholder-color: #a2a2a2;
  --error-text-color: #f22c3e;

  --editor-header-text-color: #e5e2dc;
  --editor-footer-text-color: #7e7e7e;

  /* Backgrounds */
  --primary-background-color: #1e1e1e;
  --secondary-background-color: #202020;
  --tertiary-background-color: #2b2b2b;
  --quaternary-background-color: #35699c;

  --editor-header-background-color: #333333;
  --editor-header-border-color: #2f2f2f;
  --editor-header-shadow-color: #202020bf;
  --editor-footer-background-color: #252526;
  --editor-footer-border-color: #414141;
  --editor-code-line-numbers-background-color: #252526;
  --editor-code-line-numbers-border-color: #333333;
  --editor-console-toggle-background-color: #333333;

  /* Editor */
  --cursor-color: #afafad;
  --line-number-color: #8a8a8a;
  --active-line-number-color: #cacaca;
  --active-line-background-color: #282828;
  --selected-text-background-color: #304e75;
  --selected-searching-text-background-color: #535c69;
  --searching-text-background-color: #f251004d;
  --indent-guides-color: #404040;
  --hint-matching-symbols-color: #55a8f8;
  --tooltip-border-color: #454545;

  /* Syntax */
  --comments-color: #75995e;
  --system-functions-color: #dcdcaf;
  --system-flow-control-color: #bc89bd;
  --variable-color: #63aade;
  --declared-variable-color: #63aade;
  --affected-variable-color: #9ecae8;
  --strings-color: #c5947c;
  --constants-color: #abbd9e;
  --math-operators-color: #d4d4d4;
  --logical-operators-color: #d4d4d4;
  --separators-color: #d4d4d4;
  --semicolons-color: #d4d4d4;
  --brackets-color: #f1d248;
  --matching-brackets-background-color: #1f251d;
  --matching-brackets-border-color: #888888;
  --nonmatching-brackets-text-color: #c2342b;

  /* Buttons */
  --general-button-text-color: #1e1e1e;
  --general-normal-button-background-color: linear-gradient(0deg, #388ee4, #367edc);
  --general-normal-button-border-color: #3471d4;
  --general-normal-button-shadow-color: #3166cc;
  --general-hover-button-background-color: linear-gradient(0deg, #3471d4, #3166cc);
  --general-press-button-background-color: linear-gradient(0deg, #3166cc, #2e5bc4);
  --general-press-button-border-color: #3166cc;

  --close-button-text-color: #1e1e1e;
  --close-normal-button-background-color: linear-gradient(0deg, #898989, #757575);
  --close-normal-button-border-color: #737373;
  --close-normal-button-shadow-color: #636363;
  --close-hover-button-background-color: linear-gradient(0deg, #737373, #616161);
  --close-press-button-background-color: linear-gradient(0deg, #636363, #585858);
  --close-press-button-border-color: #636363;

  --save-arguments-button-text-color: #1e1e1e;
  --save-arguments-normal-button-background-color: linear-gradient(0deg, #388ee4, #367edc);
  --save-arguments-normal-button-border-color: #3471d4;
  --save-arguments-normal-button-shadow-color: #3166cc;
  --save-arguments-hover-button-background-color: linear-gradient(0deg, #3471d4, #3166cc);
  --save-arguments-press-button-background-color: linear-gradient(0deg, #3166cc, #2e5bc4);
  --save-arguments-press-button-border-color: #3166cc;

  --safe-button-text-color: #efefef;
  --safe-normal-button-background-color: linear-gradient(0deg, #008c00, #009f00);
  --safe-normal-button-border-color: #007800;
  --safe-normal-button-shadow-color: #006f00;
  --safe-hover-button-background-color: linear-gradient(0deg, #007800, #009c00);
  --safe-press-button-background-color: linear-gradient(0deg, #006f00, #008600);
  --safe-press-button-border-color: #006f00;

  --dangerous-button-text-color: #efefef;
  --dangerous-normal-button-background-color: linear-gradient(0deg, #bb2935, #d6323f);
  --dangerous-normal-button-border-color: #a2242f;
  --dangerous-normal-button-shadow-color: #98222c;
  --dangerous-hover-button-background-color: linear-gradient(0deg, #a2242f, #db313f);
  --dangerous-press-button-background-color: linear-gradient(0deg, #98222c, #c32835);
  --dangerous-press-button-border-color: #98222c;

  /* Extension Pupup */
  --extension-popup-glow-color: #7e7e7e;
  --extension-popup-text-glow-blur-radius: 0px;

  --extension-popup-switch-off-color: #5a5a5a;
  --extension-popup-switch-on-primary-background-color: #c9c9c9;
  --extension-popup-switch-on-secondary-background-color: #aaaaaa1a;
  --extension-popup-switch-on-primary-shadow-color: #a7a7a7;
  --extension-popup-switch-on-secondary-shadow-color: #a9a9a933;
  --extension-popup-switch-on-text-color: #1e1e1e;
  --extension-popup-switch-on-border-color: #b0b0b066;

  --extension-popup-dangerous-button-text-color: #ff2335;
  --extension-popup-dangerous-button-background-color: #ff2335;

  /* --- Other --- */

  /* Theme */
  --is-dark-theme: 1;
}
