:root {
  /* --- Colors --- */

  /* Text */
  --primary-text-color: #dce3e5;
  --secondary-text-color: #c5ccce;
  --tertiary-text-color: #a9b0b1;
  --placeholder-color: #617991;
  --error-text-color: #f22c3e;

  --editor-header-text-color: #dce3e5;
  --editor-footer-text-color: #477693;

  /* Backgrounds */
  --primary-background-color: #061626;
  --secondary-background-color: #04111d;
  --tertiary-background-color: #0a2239;
  --quaternary-background-color: #1e3e5e;

  --editor-header-background-color: #183555;
  --editor-header-border-color: #163251;
  --editor-header-shadow-color: #0e2135df;
  --editor-footer-background-color: #0c2239;
  --editor-footer-border-color: #193958;
  --editor-code-line-numbers-background-color: #0c2239;
  --editor-code-line-numbers-border-color: #193958;
  --editor-console-toggle-background-color: #193958;

  /* Editor */
  --cursor-color: #4D9DD0;
  --line-number-color: #4D9DD0;
  --active-line-number-color: #C6C6C6;
  --active-line-background-color: #122E57;
  --selected-text-background-color: #1A325F;
  --selected-searching-text-background-color: #535C69;
  --searching-text-background-color: #0750d74d;
  --indent-guides-color: #162B43;
  --hint-matching-symbols-color: #FFFFFF;
  --tooltip-border-color: #083a6c;

  /* Syntax */
  --comments-color: #909192;
  --system-functions-color: #8FAEEE;
  --system-flow-control-color: #56BCF3;
  --variable-color: #D7DEEA;
  --declared-variable-color: #D7DEEA;
  --affected-variable-color: #b9d3ff;
  --strings-color: #C6EDC3;
  --constants-color: #A3EA9D;
  --math-operators-color: #56BCF3;
  --logical-operators-color: #4CA6D8;
  --separators-color: #ADD4ED;
  --semicolons-color: #ADD4ED;
  --brackets-color: #F9D849;
  --matching-brackets-background-color: #244F7C;
  --matching-brackets-border-color: #888888;
  --nonmatching-brackets-text-color: #C23A3E;

  /* Buttons */
  --general-button-text-color: #00003D;
  --general-normal-button-background-color: linear-gradient(0deg, #95c7d6, #84b0be);
  --general-normal-button-border-color: #84b0be;
  --general-normal-button-shadow-color: #759da9;
  --general-hover-button-background-color: linear-gradient(0deg, #84b0be, #759da9);
  --general-press-button-background-color: linear-gradient(0deg, #759da9, #698d98);
  --general-press-button-border-color: #759da9;

  --close-button-text-color: #000018;
  --close-normal-button-background-color: linear-gradient(0deg, #72b5ef, #66a2d7);
  --close-normal-button-border-color: #66a2d7;
  --close-normal-button-shadow-color: #5b91c1;
  --close-hover-button-background-color: linear-gradient(0deg, #66a2d7, #5d93c3);
  --close-press-button-background-color: linear-gradient(0deg, #5b91c1, #507fa9);
  --close-press-button-border-color: #5b91c1;

  --save-arguments-button-text-color: #00003D;
  --save-arguments-normal-button-background-color: linear-gradient(0deg, #95c7d6, #84b0be);
  --save-arguments-normal-button-border-color: #84b0be;
  --save-arguments-normal-button-shadow-color: #759da9;
  --save-arguments-hover-button-background-color: linear-gradient(0deg, #84b0be, #759da9);
  --save-argument-press-button-background-color: linear-gradient(0deg, #759da9, #698d98);
  --save-arguments-press-button-border-color: #759da9;

  --safe-button-text-color: #efefef;
  --safe-normal-button-background-color: linear-gradient(0deg, #007600, #008900);
  --safe-normal-button-border-color: #006b00;
  --safe-normal-button-shadow-color: #006200;
  --safe-hover-button-background-color: linear-gradient(0deg, #006b00, #008600);
  --safe-press-button-background-color: linear-gradient(0deg, #006200, #007500);
  --safe-press-button-border-color: #006200;

  --dangerous-button-text-color: #efefef;
  --dangerous-normal-button-background-color: linear-gradient(0deg, #a6262f, #c02b37);
  --dangerous-normal-button-border-color: #932024;
  --dangerous-normal-button-shadow-color: #871f26;
  --dangerous-hover-button-background-color: linear-gradient(0deg, #932024, #c92838);
  --dangerous-press-button-background-color: linear-gradient(0deg, #871f26, #b22632);
  --dangerous-press-button-border-color: #871f26;

  /* Extension Pupup */
  --extension-popup-glow-color: #5a8496;
  --extension-popup-text-glow-blur-radius: 0px;

  --extension-popup-switch-off-color: #5e6368;
  --extension-popup-switch-on-primary-background-color: #73a1b6;
  --extension-popup-switch-on-secondary-background-color: #4b7a8d1a;
  --extension-popup-switch-on-primary-shadow-color: #4b7a8d;
  --extension-popup-switch-on-secondary-shadow-color: #4d7a8d33;
  --extension-popup-switch-on-text-color: #2b4c5a;
  --extension-popup-switch-on-border-color: #89c2d966;

  --extension-popup-dangerous-button-text-color: #ff2335;
  --extension-popup-dangerous-button-background-color: #ff2335;

  /* --- Other --- */

  /* Theme */
  --is-dark-theme: 1;
}
