:root {
  /* --- Colors --- */

  /* Text */
  --primary-text-color: #dce3e5;
  --secondary-text-color: #c5ccce;
  --tertiary-text-color: #a9b0b1;
  --placeholder-color: #617991;
  --error-text-color: #f22c3e;

  --editor-header-text-color: #dce3e5;
  --editor-footer-text-color: #8b9294;

  /* Backgrounds */
  --primary-background-color: #061626;
  --secondary-background-color: #04111d;
  --tertiary-background-color: #0a2239;
  --quaternary-background-color: #6185a9;

  --editor-header-background-color: #183555;
  --editor-header-border-color: #163251;
  --editor-header-shadow-color: #0e2135df;
  --editor-footer-background-color: #0c2239;
  --editor-footer-border-color: #193958;
  --editor-code-line-numbers-background-color: #0c2239;
  --editor-code-line-numbers-border-color: #193958;
  --editor-console-toggle-background-color: #193958;

  /* Editor */
  --cursor-color: #4d9dd0;
  --line-number-color: #4d9dd0;
  --active-line-number-color: #c6c6c6;
  --active-line-background-color: #122e57;
  --selected-text-background-color: #1a325f;
  --selected-searching-text-background-color: #535c69;
  --searching-text-background-color: #0750d74d;
  --indent-guides-color: #162b43;
  --hint-matching-symbols-color: #ffffff;
  --tooltip-border-color: #083a6c;

  /* Syntax */
  --comments-color: #909192;
  --system-functions-color: #8faeee;
  --system-flow-control-color: #56bcf3;
  --variable-color: #d7deea;
  --declared-variable-color: #d7deea;
  --affected-variable-color: #b9d3ff;
  --strings-color: #c6edc3;
  --constants-color: #a3ea9d;
  --math-operators-color: #56bcf3;
  --logical-operators-color: #4ca6d8;
  --separators-color: #add4ed;
  --semicolons-color: #add4ed;
  --brackets-color: #f9d849;
  --matching-brackets-background-color: #244f7c;
  --matching-brackets-border-color: #888888;
  --nonmatching-brackets-text-color: #c23a3e;

  /* Buttons */
  --general-button-text-color: #00003d;
  --general-normal-button-background-color: linear-gradient(0deg, #95c7d6, #84b0be);
  --general-normal-button-border-color: #84b0be;
  --general-normal-button-shadow-color: #759da9;
  --general-hover-button-background-color: linear-gradient(0deg, #84b0be, #759da9);
  --general-press-button-background-color: linear-gradient(0deg, #759da9, #698d98);
  --general-press-button-border-color: #759da9;

  --close-button-text-color: #000018;
  --close-normal-button-background-color: linear-gradient(0deg, #72b5ef, #66a2d7);
  --close-normal-button-border-color: #66a2d7;
  --close-normal-button-shadow-color: #5b91c1;
  --close-hover-button-background-color: linear-gradient(0deg, #66a2d7, #5d93c3);
  --close-press-button-background-color: linear-gradient(0deg, #5b91c1, #507fa9);
  --close-press-button-border-color: #5b91c1;

  --save-arguments-button-text-color: #00003d;
  --save-arguments-normal-button-background-color: linear-gradient(0deg, #95c7d6, #84b0be);
  --save-arguments-normal-button-border-color: #84b0be;
  --save-arguments-normal-button-shadow-color: #759da9;
  --save-arguments-hover-button-background-color: linear-gradient(0deg, #84b0be, #759da9);
  --save-argument-press-button-background-color: linear-gradient(0deg, #759da9, #698d98);
  --save-arguments-press-button-border-color: #759da9;

  --safe-button-text-color: #efefef;
  --safe-normal-button-background-color: linear-gradient(0deg, #007600, #008900);
  --safe-normal-button-border-color: #006b00;
  --safe-normal-button-shadow-color: #006200;
  --safe-hover-button-background-color: linear-gradient(0deg, #006b00, #008600);
  --safe-press-button-background-color: linear-gradient(0deg, #006200, #007500);
  --safe-press-button-border-color: #006200;

  --dangerous-button-text-color: #efefef;
  --dangerous-normal-button-background-color: linear-gradient(0deg, #a6262f, #c02b37);
  --dangerous-normal-button-border-color: #932024;
  --dangerous-normal-button-shadow-color: #871f26;
  --dangerous-hover-button-background-color: linear-gradient(0deg, #932024, #c92838);
  --dangerous-press-button-background-color: linear-gradient(0deg, #871f26, #b22632);
  --dangerous-press-button-border-color: #871f26;

  /* Extension Pupup */
  --extension-popup-glow-color: #72a4b6;
  --extension-popup-text-glow-blur-radius: 0px;

  --extension-popup-switch-off-color: #7a868b;
  --extension-popup-switch-on-primary-background-color: #91c0d6;
  --extension-popup-switch-on-secondary-background-color: #68a2b133;
  --extension-popup-switch-on-primary-shadow-color: #68a2b1;
  --extension-popup-switch-on-secondary-shadow-color: #6aa2b144;
  --extension-popup-switch-on-text-color: #294a53;
  --extension-popup-switch-on-border-color: #a9d4e199;

  --extension-popup-dangerous-button-text-color: #ff2335;
  --extension-popup-dangerous-button-background-color: #ff2335;

  /* --- Other --- */

  /* Theme */
  --is-dark-theme: 1;
}
