:root {
  /* --- Colors --- */

  /* Text */
  --primary-text-color: #1c1c1c;
  --secondary-text-color: #343b4d;
  --tertiary-text-color: #767676;
  --placeholder-color: #8b8983;
  --error-text-color: #f22c3e;

  --editor-header-text-color: #f9f9f9;
  --editor-footer-text-color: #868686;

  /* Backgrounds */
  --primary-background-color: #ffffff;
  --secondary-background-color: #d2d2d2;
  --tertiary-background-color: #e4e4e4;
  --quaternary-background-color: #c2c2c2;

  --editor-header-background-color: #1f2843;
  --editor-header-border-color: #181f35;
  --editor-header-shadow-color: #2b334c50;
  --editor-footer-background-color: #ededed;
  --editor-footer-border-color: #cccccc;
  --editor-code-line-numbers-background-color: #ededed;
  --editor-code-line-numbers-border-color: #cccccc;
  --editor-console-toggle-background-color: #dfdfdf;

  /* Editor */
  --cursor-color: #1c1c1c;
  --line-number-color: #747474;
  --active-line-number-color: #0a0a0a;
  --active-line-background-color: #edf4ff;
  --selected-text-background-color: #e5e6f5;
  --selected-searching-text-background-color: #e7e7e7;
  --searching-text-background-color: #4b98dc4d;
  --indent-guides-color: #cecece;
  --hint-matching-symbols-color: #be0f0f;
  --tooltip-border-color: #c9c9c9;

  /* Syntax */
  --comments-color: #8b8983;
  --system-functions-color: #cf9565;
  --system-flow-control-color: #9928df;
  --variable-color: #4b3fa5;
  --declared-variable-color: #4b3fa5;
  --affected-variable-color: #167485;
  --strings-color: #c80808;
  --constants-color: #b95c75;
  --math-operators-color: #6b6a69;
  --logical-operators-color: #6b6a69;
  --separators-color: #6b6a69;
  --semicolons-color: #6b6a69;
  --brackets-color: #6b6a69;
  --matching-brackets-background-color: #c5e6cc;
  --matching-brackets-border-color: #a2d9ae;
  --nonmatching-brackets-text-color: #c33228;

  /* Buttons */
  --general-button-text-color: #efefef;
  --general-normal-button-background-color: linear-gradient(0deg, #2180ff, #31a3ee);
  --general-normal-button-border-color: #2177e7;
  --general-normal-button-shadow-color: #1766cd;
  --general-hover-button-background-color: linear-gradient(0deg, #2177e7, #47b0f5);
  --general-press-button-background-color: linear-gradient(0deg, #1766cd, #31a2ed);
  --general-press-button-border-color: #1766cd;

  --close-button-text-color: #343b4d;
  --close-normal-button-background-color: linear-gradient(0deg, #e0e5ec, #fafcfe);
  --close-normal-button-border-color: #cfd4da;
  --close-normal-button-shadow-color: #c5cad0;
  --close-hover-button-background-color: linear-gradient(0deg, #cfd4da, #ffffff);
  --close-press-button-background-color: linear-gradient(0deg, #c5cad0, #f0f5fc);
  --close-press-button-border-color: #c5cad0;

  --save-arguments-button-text-color: #efefef;
  --save-arguments-normal-button-background-color: linear-gradient(0deg, #2180ff, #31a3ee);
  --save-arguments-normal-button-border-color: #2177e7;
  --save-arguments-normal-button-shadow-color: #1766cd;
  --save-arguments-hover-button-background-color: linear-gradient(0deg, #2177e7, #47b0f5);
  --save-arguments-press-button-background-color: linear-gradient(0deg, #1766cd, #31a2ed);
  --save-arguments-press-button-border-color: #1766cd;

  --safe-button-text-color: #efefef;
  --safe-normal-button-background-color: linear-gradient(0deg, #009e00, #00b400);
  --safe-normal-button-border-color: #018e01;
  --safe-normal-button-shadow-color: #008200;
  --safe-hover-button-background-color: linear-gradient(0deg, #018e01, #00b700);
  --safe-press-button-background-color: linear-gradient(0deg, #008200, #009a00);
  --safe-press-button-border-color: #008200;

  --dangerous-button-text-color: #efefef;
  --dangerous-normal-button-background-color: linear-gradient(0deg, #c92d3a, #e93745);
  --dangerous-normal-button-border-color: #b62935;
  --dangerous-normal-button-shadow-color: #ac2732;
  --dangerous-hover-button-background-color: linear-gradient(0deg, #b62935, #f13645);
  --dangerous-press-button-background-color: linear-gradient(0deg, #ac2732, #d92d3b);
  --dangerous-press-button-border-color: #ac2732;

  /* Extension Pupup */
  --extension-popup-glow-color: #a1a1a1;
  --extension-popup-text-glow-blur-radius: 0px;

  --extension-popup-switch-off-color: #a2a2a8;
  --extension-popup-switch-on-primary-background-color: #8f8f8f;
  --extension-popup-switch-on-secondary-background-color: #796f6f1a;
  --extension-popup-switch-on-primary-shadow-color: #6d6d6d;
  --extension-popup-switch-on-secondary-shadow-color: #72727233;
  --extension-popup-switch-on-text-color: #2d2d2d;
  --extension-popup-switch-on-border-color: #71717166;

  --extension-popup-dangerous-button-text-color: #ff2335;
  --extension-popup-dangerous-button-background-color: #ff2335;

  /* --- Other --- */

  /* Theme */
  --is-dark-theme: 0;
}
