body {
    overscroll-behavior-block: none;
}

/* Header */
.lyte-button.lytePrimaryBtn {
    margin-right: 2px !important;
}
.lyte-button.lyteDefaultBtn {
    margin-left: 10px;
}
#functionCancel {
    display: none;
}

#templateName, #templateSubject {
    text-align: center;
}

#functionName {
    flex-grow: 1;
}

#templateName, #templateSubject, .headerSectionTabCnt.pR.color_3.bbd1.w100per.oH {
    padding: 0px;
}

.alignright.showOnEditandCreate.pB10.pT7.mT10 {
    margin: 0px !important;
    padding: 0px !important;
}

.editTempName.dIB, .editTempName.dIB > lyte-input, .nTSubsection > lyte-input {
    width: 100%;
}
.w100p.untitledRepTextPar.aIC.dF.spaceBetween.h70 {
    height: 50px;
}

.editTempName.dIB lyte-input, #templateName {
    height: 100%;
}
.nTSubsection > lyte-input {
    display: block;
    height: 100%;
    margin-bottom: 0px;
}
.nTSubsection, .nTSubsection * {
    height: 15px;
}
.nTSubsection {
    margin-bottom: 5px;
}
.editTempName.dIB {
    height: 30px;
}
#templateName {
    font-size: 25px !important;
}

.lyteField.ltIconShow:has(#templateName), .lyteField:has(#templateSubject)  {
    border: none !important;
}

/* Code Lines and Code Editor */
.CodeMirror-linenumber.CodeMirror-gutter-elt, .CodeMirror-line span {
    font-family: 'JetBrains Mono' !important;
    font-size: 13px !important;
    font-weight: 800;
}

.CodeMirror-scroll {
    background: white;
}

.CodeMirror-line {
    white-space: nowrap;
    padding-right: 0px !important;
}
.CodeMirror-sizer {
    width: max-content;
    min-width: -webkit-fill-available;
    min-width: -moz-available;
}

/* Code Lines */
.CodeMirror-linenumber.CodeMirror-gutter-elt {
    text-decoration: none !important;
    text-align: right !important;
    margin-left: -10px !important;
    background: inherit !important;
}

.CodeMirror-gutter.dre-codemirror-lintmarker, .CodeMirror-gutter.CodeMirror-linenumbers,
.CodeMirror-gutter.CodeMirror-foldgutter, .CodeMirror-gutter.editmodes,
.CodeMirror-gutter-elt, .CodeMirror-foldgutter-open.CodeMirror-guttermarker-subtle {
    background: inherit !important;
}
.CodeMirror-gutters {
    background: inherit !important;
    border: none !important;
}

/* Useless Elements */
.CodeMirror-foldgutter-open.CodeMirror-guttermarker-subtle, .CodeMirror-gutter-elt .de.de-edit,
#dreTopBar, #delugeLeftPane, #dreEditorFooter {
    display: none !important;
}
#codemirror_scroll {
    border-top: 0px !important;
    padding-top: 0px;
}
